@charset "utf-8";

/* layout */
.wrap{display:flex; flex-direction:column; min-height:100vh;}
.content-wrap{flex-grow:1; height:100%; padding-bottom:12rem; background:#f2f4f6;}

/* header 공통 (s) */
header{display:flex; flex-direction:column; background:#fff; z-index:999;}
.top-noti{display:flex; align-items:center; position:relative; width:100%; height:9.9rem; padding:var(--pd-0-17); background:url(../images/common/img_top_bn01.svg) center center / cover no-repeat;}
.top-noti p{display:flex; justify-content:center; position:relative; width:100%; color:#fff; font-weight:700; font-size:var(--font-size-24); z-index:1;}
.top-noti .btn-close{display:flex; align-items:center; gap:1rem; position:absolute; bottom:0; right:17rem; color:#fff; font-weight:500; font-size:var(--font-size-14);}
.top-noti .btn-close:after{content:''; display:inline-block; width:3rem; height:3rem; background:url(../images/common/icon_top_bn_close.svg);}
header .head-top{display:flex; justify-content:space-between; align-items:center; height:11rem; padding:var(--pd-0-9);}
header .head-top .logo a{display:inline-flex; width:20rem; height:8.3rem; text-indent:-9999px; background:url(../images/common/icon_main_logo.svg) center center /  100% no-repeat;}
header .head-top .btn-sch{display:inline-flex; position:absolute; top:50%; right:1.6rem; width:2rem; height:2rem; padding:2rem; transform:translateY(-50%); background:url(../images/common/icon_serch.svg) center center / 2rem 2rem no-repeat;}
header .head-top .btn-sch.close{background-image:url(../images/common/icon_sch_close.svg); background-size:1.4rem 1.4rem;}
.top-noti .icon-toryani{display:inline-flex; position:absolute; bottom:0; right:30.4rem; width:11.2rem; height:9.2rem; background:url(../images/common/icon_info_tory.svg);}
header .head-bottom{display:flex; flex-wrap:wrap; justify-content:space-between; position:relative; padding:var(--pd-0-17); border-top:.1rem solid #DFE3EB;}

.gnb{display:flex; align-items:center;}
.gnb > li{font-weight:600; font-size:var(--font-size-20);}
.gnb > li a, .gnb > li .tit{display:inline-flex; justify-content:center; align-items:center; padding:0 3.5rem; width:100%; height:6rem; font-size:inherit; text-align:center;}
.gnb > li:first-child a{padding-left:0;}
.gnb > li:last-child a{padding-right:0;}
.gnb .gnb-depth2{display:none; position:absolute; width:calc(100% / 4); height:43rem; background:#fff; z-index:10;}
.gnb.active .gnb-depth2{display:block;}
.gnb .gnb-depth2:after{content:''; display:inline-block; position:absolute; top:0; width:.1rem; height:calc(100% - 1rem); background:#DFE3EB;}
.gnb > li:nth-of-type(1) .gnb-depth2{left:0;}
.gnb > li:nth-of-type(2) .gnb-depth2{left:calc(100% / 4 * 1);}
.gnb > li:nth-of-type(3) .gnb-depth2{left:calc(100% / 4 * 2);}
.gnb > li:nth-of-type(4) .gnb-depth2{left:calc(100% / 4 * 3);}
.gnb > li:nth-of-type(5) .gnb-depth2{left:calc(100% / 4 * 4);}
.gnb .gnb-depth2 li{font-weight:400; font-size:var(--font-size-18);}
.gnb .gnb-depth2 li.tit{color:#fff; font-weight:700; font-size:var(--font-size-20); background-color:#034EA1;}
.gnb > li:last-child .gnb-depth2 li.tit{border-right:none;}
.gnb .gnb-depth2 li.tit + li{margin-top:2rem;}
.gnb .gnb-depth2 li a{height:5rem; padding:0;}
.gnb .gnb-depth2 li:not(.tit):hover > a{color:#034EA1; font-weight:700; text-decoration:underline; text-underline-offset:.5rem;}
.gnb .gnb-depth3{position:relative; width:80%; margin:1rem auto 0; padding:1rem 0; background:#E8F2FF; border-radius:1rem;}
.gnb .gnb-depth3::before{content:''; display:inline-block; position:absolute; top:-3rem; left:50%; transform:translateX(-50%); border-top:1.7rem solid transparent; border-right:1rem solid transparent; border-bottom:1.7rem solid #E8F2FF; border-left:1rem solid transparent;}
.gnb .gnb-depth3 li a{height:4rem;}

.mnu-info{display:flex; gap:2rem; align-items:center; color:var(--font-color-gray);; font-size:var(--font-size-16);}
.mnu-info > div{display:flex; gap:2rem;}
.mnu-info *{color:inherit; font-size:inherit;}
.mnu-info b{color:var(--font-color-black);}
.mnu-info [class*='btn-']{position:relative; padding-left:2.4rem;}
.mnu-info [class*='btn-']::before{content:''; display:inline-flex; position:absolute; top:0; left:0; width:2rem; height:2rem; background-repeat:no-repeat; background-size:2rem 2rem; background-position: center center;}
.mnu-info .btn-mypage::before{background-image: url(../images/common/icon_mypage.svg);}
.mnu-info .btn-logout::before{background-image: url(../images/common/icon_logout.svg);}
/* header (e) */

.ico{display:inline-flex; justify-content:center; align-items:center; width:2rem; height:2rem; background-repeat:no-repeat;}
.ico::before{content:''; display:block; width:100%; height:100%; background-size:contain; background-repeat:no-repeat;}
.icon-home::before{background:url(../images/common/icon_home.svg) center center / 100% no-repeat;}
/* location */
.location{height:5rem; padding:var(--pd-0-17); background:#f2f4f6; border-top:.1rem solid rgba(166, 168, 171, 0.5); border-bottom:.1rem solid rgba(166, 168, 171, 0.5);}
.location ol{display:flex; align-items:center; height:100%; margin:0 auto;}
.location li{border-left:.1rem solid rgba(166, 168, 171, 0.5);}
.location li:last-child{border-right:.1rem solid rgba(166, 168, 171, 0.5);}
.location li a,
.location li button{display:inline-block; position:relative; width:100%; height:100%; padding:1.3rem 1.5rem; font-size:var(--font-size-16);; text-align:left;}
.location .dropdown-wrap{position:relative;}
.location .dropdown-wrap .dropdown-list{position:absolute; width:100%; margin:0;}
.location .dropdown-wrap.is-open .dropdown-list{z-index:100; background:#f2f4f6; border:none; border-radius:0; outline:.1rem solid #A6A8AB;}
.location .dropdown-wrap .btn-dropdown{height:5rem; font-weight:300; background:transparent; border:none;}
.location .dropdown-wrap.dropdown-link .btn-dropdown{color:#034EA1;  font-weight:500;}

/* radio-group & checkbox-group */
.radio-group, .checkbox-group{display:flex; align-items:center; gap:1.6rem; flex-wrap:wrap;}
.radio-item, .checkbox-item{display:flex; align-items:center; gap:.8rem; font-weight:400; font-size:var(--font-size-18); line-height:2.6rem; cursor:pointer;}
.radio-item input[type="radio"], .checkbox-item input[type="checkbox"]{display:none;}
.radio-item .custom-radio{display:inline-block; position:relative; width:2rem; height:2rem; border:.1rem solid #A6A8AB; border-radius:50%;}
.radio-item input[type="radio"]:checked + .custom-radio{border-color:#1464FF;}
.radio-item input[type="radio"]:checked + .custom-radio::after{content:''; position:absolute; top:50%; left:50%; width:1.2rem; height:1.2rem; background:#1464FF; transform:translate(-50%, -50%); border-radius:50%;}
/* radio rounded */
.radio-group.rounded{gap:0;}
.radio-group.rounded .radio-item .custom-radio{width:100%; height:100%; padding:.4rem 2.5rem; font-weight:400; font-size:var(--font-size-20); line-height:3.2rem; border:none;}
.radio-group.rounded .radio-item input[type="radio"]:checked + .custom-radio{color:#fff; font-weight:700; background-color:#8AC650; border:none; border-radius:2rem;}
.radio-group.rounded .radio-item input[type="radio"]:checked + .custom-radio::after{display:none;}
.radio-group.rounded .radio-item input[type="radio"][disabled]{}

.checkbox-item .custom-check{display:inline-block; position:relative; width:2rem; height:2rem; background:#fff; border:.1rem solid #A6A8AB;}
.checkbox-item input[type="checkbox"]:checked + .custom-check{background:#1464FF; border-color:#1464FF;}
.checkbox-item input[type="checkbox"]:checked + .custom-check::after{content:''; position:absolute; top:50%; left:50%; width:1.4rem; height:1rem; background:url(../images/common/icon_check.svg) center center / 100% no-repeat; transform:translate(-50%, -50%); border-radius:50%;}
.checkbox-item input[type="checkbox"][disabled] + .custom-check{background:#D9D9D9 !important; border-color:#A6A8AB !important;}

/* button */
.btn{display:inline-flex; justify-content:center; align-items:center; min-width:14rem; height:5rem; text-align:center; font-size:var(--font-size-18); border-radius:1rem; background-color:#f5f5f5;}
.btn-cmn{min-width:14rem; height:5rem; color:#fff; font-weight:700; font-size:var(--font-size-18); background:var(--primary-color);}
.btn-primary{color:#fff; background-color:var(--primary-color);}
.btn-normal{color:var(--font-color-black); background-color:var(--normal-color); border:.1rem solid var(--font-color-gray);}
.btn-normal.wh{background:#fff; border-color:#A6A8AB;}
.btn-cmn.gray{background-color:var(--font-color-gray);}
.btn-cmn.sec{background-color:#1D76BC;}
.btn-cmn.green{background-color:#8AC650;}
.btn-cmn.dark-blue{background-color:#3B4963;}

/* tb-layout */
.tb-layout table{table-layout:fixed; width:100%;}
.tb-layout table td{border:.1rem solid #DFE3EB;}

/* input */
input{outline:none; border:none;}
select{appearance:none;}
.ipt::placeholder, textarea::placeholder{color:#BFC0C4;}
.ipt[readonly]{background-color:transparent; border-color:#D9D9D9;}
.ipt{min-width:14.5rem; color:#121212; padding:1.3rem 2rem; line-height:2.4rem; font-size:var(--font-size-18); background:#fff; border:.1rem solid #A6A8AB; border-radius:1rem; outline:none;}
select.ipt{padding-right:4rem; background:#fff url(../images/common/icon_select_arrow.svg) right 1.9rem center / 1.4rem 1.4rem no-repeat;}
input[type="password"]{padding-right:3.5rem; background-image:url(../images/common/icon_lock.svg); background-position:center right 2rem; background-size:1.4rem 1.6rem ; background-repeat:no-repeat;}
.ipt02{width:100%; height:3.4rem; padding-bottom:1rem; font-weight:400; line-height:2.4rem; font-size:2rem; background:transparent; border:none; border-bottom:.1rem solid #000;}
textarea.ipt02{min-height:6.5rem; resize: none;}
select.ipt02{background:url(../images/common/icon_select_down.svg) right top .6rem / 1.4rem 1.2rem no-repeat;}
.txtarea textarea{max-width:100%; width:100%; height:100%; padding:1.8rem 1.6rem; line-height:2.4rem; font-size:var(--font-size-18); border:.1rem solid #A6A8AB;}

/* footer */
.footer{background:#fff;}
.max-width-inner{max-width:152rem; margin:0 auto;}
.bd-line-grp{border-top:.1rem solid #DFE3EB; border-bottom:.1rem solid #DFE3EB;}
.footer-banner-slider{position:relative; padding:1.6rem 0;}
.footer-banner-slider .swiper{max-width:131.2rem;}
.footer-banner-slider .swiper .swiper-slide{width:auto;}
.footer-banner-slider .swiper-button-next:after, 
.footer-banner-slider .swiper-button-prev:after{display:none;}
.footer-banner-slider .swiper .swiper-slide > a{display:inline-block; width:24rem; height:5rem;}
.footer-banner-slider .swiper .swiper-slide > a img{display:block; width:100%;}

.footer-cont{display:flex; gap:3.8rem; padding:3.2rem 0 4.4rem; font-size:var(--font-size-16);}
.footer-cont .address-grp{flex-grow:1; max-width:96rem;}
.footer-cont .link-area{display:flex; flex-wrap:wrap; gap:1rem 3rem; height:5.8rem;}
.footer-cont .link-area > a{display:inline-flex; align-items:center;}
.footer-cont .link-area > a:hover{font-weight:700;}
.footer-cont .link-area img{display:block;}

.footer-cont .txt-list{display:flex; flex-wrap:wrap; gap:3rem 2rem; justify-content:space-between; margin-top:3.2rem; font-size:var(--font-size-16);}
.footer-cont .txt-list li .tit{display:inline-flex; align-items:center; gap:1.2rem; font-weight:700; font-size:1.8rem;}
.footer-cont .txt-list li .tit[class*='icon-']::before{content:''; display:inline-block; width:2rem; height:2rem; background-position:center center; background-size:100%; background-repeat:no-repeat;}
.footer-cont .txt-list li .tit.icon-location::before{background-image:url(../images/common/icon_location.svg);}
.footer-cont .txt-list li .tit.icon-counsel::before{background-image:url(../images/common/icon_counsel.svg);}
.footer-cont .txt-list li dl{display:flex; flex-wrap:wrap; gap:1rem 3.5rem; max-width:42rem; margin-top:1.7rem;}
.footer-cont .txt-list li dl dt{min-width:5.5rem; font-weight:700;}
.footer-cont .txt-list li dl dd{flex-basis:calc(100% - 12rem); flex-grow:1;}
.footer-cont address{margin-top:2.6rem; color:var(--font-color-gray);}
.footer-cont .family-grp .dropdown-wrap{margin-top:.8rem;}

/* dropdown */
.dropdown-wrap{width:24rem;}
.dropdown-wrap .btn-dropdown{display:inline-flex; justify-content:space-between; align-items:center; width:100%; height:4.5rem; padding:1.3rem 2rem; font-size:var(--font-size-16); text-align:left; background:#fff; border:.1rem solid #A6A8AB; border-radius:.4rem;}
.dropdown-wrap .btn-dropdown::after{content:''; display:inline-block; width:1.2rem; height:8rem; background:url(../images/common/icon_drop_arrow_down.svg) center center / 100% 100% no-repeat;}
.dropdown-wrap .dropdown-list{display:flex; flex-wrap:wrap; overflow:auto; max-height:0; margin-top:.5rem; border:none; transition: max-height 0.3s ease; border-radius:.4rem;}
.dropdown-wrap .dropdown-list .footer-link{display:inline-flex; width:100%; height:4.5rem; padding:1.3rem 2rem;}
.dropdown-wrap .btn-family:hover, .dropdown-wrap .dropdown-list .footer-link:hover{background:#f2f4f6;}
.dropdown-wrap.is-open .btn-dropdown::after{transform:rotate(-180deg);}
.dropdown-wrap.is-open .dropdown-list{overflow:auto; max-height:22.5rem; border:.1rem solid #A6A8AB;}

/* error page */
.error-wrap{display:flex; flex-direction:column; gap:2rem; width:100rem; margin:auto auto;}
.error-wrap .logo{display:block; width:23.9rem; height:5.8rem;}
.error-wrap .logo a{display:inline-block; width:100%; height:100%; text-indent:-9999px; background:url(../images/common/icon_main_logo.svg) center center / 100% no-repeat;}
.error-wrap .inner{padding:8rem 10rem; text-align:center; background:#fff;}
.err-tit{display:block; width:100%; height:5.6rem; margin-top:2rem; font-weight:600; font-size:var(--font-size-34); border-bottom:.1rem solid #D9D9D9;}
.error-wrap .inner > img{display:block; margin:0 auto;}
.error-wrap .inner > .err-tit + p{margin-top:1.5rem; color:var(--font-color-gray); font-weight:400; font-size:var(--font-size-18);}
.error-wrap .inner .btn-area{margin-top:3rem;}
.error-wrap .inner .btn-cmn{width:20rem;}

/* etc */
.mo-only{display:none;}
.pc-only{display:inline-flex;}
tbody.pc-only{display:table-row-group;}
thead.pc-only{display:table-row-group;}
colgroup.pc-only{display:table-column-group;}
.bg-gray{background-color:var(--bg-gray);}
.numbering{counter-reset:cnt;}
.numbering li{counter-increment:cnt;}
.numbering li .txt-list::before{content:counter(cnt);}

/* modal */
body.modal-open{height:100vh; overflow:hidden;}
.cmp-modal{display:none; justify-content:center; align-items:center; position:fixed; z-index:1000; inset:0;}
.cmp-modal.is-active{display:flex;}
.cmp-modal .dimmed{position:absolute; inset:0; width:100%; height:100%; top:0; left:0; background:rgba(0, 0, 0, 0.2); transition:opacity 0.3s ease-out, visibility 0.3s ease-out; z-index:99;}
.cmp-modal .modal-container{display:flex; flex-direction:column; gap:5rem; position:fixed; visibility:hidden; padding:5.5rem; background:#fff; transform:translateY(2rem); transition: 0.3s ease-out, opacity 0.3s ease-out; border:.1rem solid #000; border-radius:1rem; box-shadow:.2rem .2rem 1.5rem 0 rgba(0, 0, 0, .1); opacity:0; z-index:1001;}
.cmp-modal.is-active .modal-container{visibility:visible; transform:translateY(0); opacity:1;}

.cmp-modal .modal-container .modal-body{padding:0 1.5rem;}
.cmp-modal .modal-container .modal-body .modal-title{width:100%; font-weight:700; padding-bottom:4rem; line-height:3.8rem; font-size:4rem; text-align:center;}
.cmp-modal .modal-container .modal-body .img-frame{display:flex; justify-content:center; align-items:center; width:12rem; height:12rem; margin:0 auto; background:rgba(3, 78, 161, 0.1); border-radius:50%;}
.cmp-modal .modal-container .modal-body .img-frame.write img{display:block; width:7.8rem; height:7rem;}
.cmp-modal .modal-container .modal-body .img-frame.res img{display:block; height:7rem;}
.cmp-modal .modal-container .modal-body .img-frame + .txt-grp{margin-top:4rem;}
.cmp-modal .modal-container .modal-body .txt-grp{display:flex; flex-direction:column; align-items:center; text-align:center;}
.cmp-modal .modal-container .modal-body .txt-grp .txt26{line-height:3.8rem;}
.cmp-modal .modal-container .modal-body .txt-grp strong{font-size:var(--font-size-24);}
.cmp-modal .modal-container .modal-body .txt-grp > b + span{margin-top:3rem;}

.cmp-modal .modal-container .modal-footer{display:flex; gap:2.5rem; }
.cmp-modal .modal-container .modal-footer .btn{min-width:32rem; width:100%; height:6rem; gap:1rem; font-weight:500; font-size:var(--font-size-20);}
.cmp-modal .modal-container .modal-footer .btn-normal{background-color:#fff;}
.cmp-modal .modal-container .modal-footer .btn .ico{width:1.6rem; height:1.6rem;}
.cmp-modal .modal-container .modal-footer .btn .ico.icon-modal-login,
.cmp-modal .modal-container .modal-footer .btn .ico.icon-modal-join{height:1.8rem;}
.cmp-modal .btn-close.close-modal{display:inline-flex; position:absolute; top:.5rem; right:.5rem; width:6rem; height:6rem; text-indent:-9999px; background:url(../images/common/icon_modal_close.svg) center center / 1.6rem 1.6rem no-repeat;}

.cmp-modal .modal-container.find{min-width:77rem;}
.cmp-modal .modal-container.find .modal-body .img-frame.write{width:17rem; height:17rem; margin-top:-3rem; background:none;}
.cmp-modal .modal-container.find .modal-body .img-frame.write img{width:100%; height:auto;}
.cmp-modal .modal-container.find .modal-body .txt-grp strong{font-size:var(--font-size-30); line-height:3.8rem;}
.cmp-modal .modal-container.find .modal-body .img-frame + .txt-grp{margin-top:1rem; gap:1rem;}
.cmp-modal .modal-container.find .modal-footer{justify-content:center;}
.cmp-modal .modal-container.find .modal-footer .btn{max-width:32rem;}

@media screen and (max-width:1600px) {
    .gnb > li a{padding:0 3rem;}    
}

@media screen and (max-width:1440px) {
    .top-noti,
    header .head-top,
    header .head-bottom{padding:0 2rem;}
    .top-noti p{justify-content:flex-start;}
    .top-noti .icon-toryani{right:10rem;}
    .top-noti .btn-close{right:2rem;}
    .gnb > li a{padding:1rem;}

    .location{padding:0;}
    
    .footer-banner-slider .swiper{width:calc(100% - 8rem);}
    .footer-cont{flex-direction:column; gap:1rem;}
    .footer-cont .link-area{height:auto;}

}


@media screen and (max-width:1024px) {
    .mo-only{display:inline-flex;}
    colgroup.mo-only{display:table-column-group;}
    tbody.mo-only{display:table-row-group;}
    thead.mo-only{display:table-row-group;}
    .pc-only, tbody.pc-only, thead.pc-only, colgroup.pc-only{display:none;}
    
    .content-wrap{padding-bottom:7rem;}

    header{position:relative;}
    header.bg + main, header.bg + *{position:relative;}
    header.bg + main::after, header.bg + *::after{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; z-index:998;}
    header .head-top{position:relative; height:7rem; border-bottom:.1rem solid #DFE3EB;}
    header .head-top .logo a{width:13.2rem; height:3.9rem;}


    header .head-top .mo-btn-grp{display:flex; gap:2rem; align-items:center; position:relative;}
    header .head-top .mo-btn-grp button{position:static; text-indent:-9999px; width:2rem; height:2rem; padding:0; transform:none;}
    header .head-top .mo-btn-grp .mo-btn-mnu{display:inline-flex; background:url(../images/mo/mo_icon_hambuger.svg) center center / 100% no-repeat;}
    header .head-top .mo-btn-grp .mo-btn-mnu.close{background-image:url(../images/common/icon_gnb_close.svg); background-size:1.4rem 1.4rem;}

    header .head-bottom{display:none;}
    header .head-bottom.mo-open{display:flex; position:absolute; top:7rem; padding:0; background:#fff; border-top:none; z-index:10;}
    header .head-bottom.mo-open nav{display:block; width:100%;}
    header .head-bottom.mo-open .gnb{flex-wrap:wrap;}
    header .head-bottom.mo-open .gnb li{width:100%;}

    header .head-bottom.mo-open .gnb > li{border-bottom:.1rem solid #DFE3EB;}
    header .head-bottom.mo-open .gnb > li > a{justify-content:space-between; position:relative; height:5.8rem; padding:0 2rem;}
    header .head-bottom.mo-open .gnb > li > a::after{content:''; display:inline-block; width:2rem; height:1.2rem; background:url(../images/common/icon_gnb_arrow_down.svg); background-position:center center; background-size:100%; background-repeat:no-repeat;}

    header .head-bottom.mo-open .gnb > li.active > a{color:#fff; background:var(--primary-color);}
    header .head-bottom.mo-open .gnb > li.active > a::after{background-image:url(../images/common/icon_gnb_arrow_up.svg);}

    header .head-bottom.mo-open .mnu-info{margin:4rem auto 0;}

    .gnb > li .gnb-depth2{position:static; width:100%; height:auto; padding:1.2rem 2.5rem 2rem;}
    .gnb > li.active .gnb-depth2{display:block;}
    .gnb > li .gnb-depth2:after,
    .gnb > li .gnb-depth2 .tit{display:none;}
    .gnb > li .gnb-depth2 li a{justify-content:flex-start; height:4.1rem;}
    .gnb > li .gnb-depth2 li.tit + li{margin-top:0;}
    .gnb .gnb-depth3{margin:0; width:100%;}
    .gnb .gnb-depth3 li a{padding:0 1.9rem;}
    .gnb .gnb-depth3::before{display:none;}

    .footer-banner-slider{padding:2rem;}
    .footer-banner-slider .swiper{width:100%;}
    .footer-banner-slider .swiper .swiper-slide > a{display:block; width:18rem; height:3.8rem;}
    .footer-banner-slider .swiper .swiper-slide > a img{width:100%;}
    .footer-banner-slider .swiper-button{display:none;}
    .footer-cont .txt-list li dl{flex-direction:column; row-gap:.7rem;}
    .footer-cont .txt-list li dd + dt{margin-top:.9rem;}

    .location{display:none;}

    .error-wrap{gap:1rem; width:100%;}
    .error-wrap .logo{width:18.1rem; height:4.4rem;}
    .error-wrap .inner{padding:7rem 2rem; border-radius:1rem;}
    .error-wrap .err-tit{height:auto; padding-bottom:1.5rem; font-weight:600; font-size:var(--font-size-30);}
    .error-wrap .inner .btn-area{margin-top:4rem;}
    .error-wrap .inner > .err-tit + p{font-size:var(--font-size-16);}

    .cmp-modal .modal-container{width:calc(100% - 4rem); padding:5rem 2.5rem;}
    .cmp-modal .modal-container .modal-body{padding:0;}
    .cmp-modal .modal-container .modal-body .txt-grp strong{font-size:var(--font-size-20);}
    .cmp-modal .modal-container .modal-body .txt-grp b{font-size:2.4rem;}
    .cmp-modal .modal-container .modal-footer{flex-wrap:wrap; row-gap:1.5rem;}
    .cmp-modal .modal-container .modal-footer .btn{height:6rem; font-weight:500; font-size:2rem;}
    .cmp-modal .btn-close.close-modal{width:5rem; height:5rem;}
    .cmp-modal .modal-container.find{min-width:unset;}

    .cmp-modal .modal-container .modal-body .modal-title{padding-bottom:3rem; font-size:3.6rem;}
    .cmp-modal .modal-container .modal-body .img-frame + .txt-grp{margin-top:3rem;}
    .cmp-modal .modal-container .modal-body .txt-grp .txt26{line-height:3rem;}


    .ipt, .btn-cmn{min-width:unset;}
    .ipt02{font-size:1.8rem;}
}

@media screen and (max-width:768px){
    .top-noti .btn-close{right:2rem;}
    .top-noti .icon-toryani{right:5rem;}
    .top-noti p{font-size:var(--font-size-18);}

    .footer-cont{position:relative; padding-bottom:14rem;}
    .footer-cont .txt-list{flex-direction:column;}
    .footer-cont .family-grp .dropdown-wrap{width:100%; margin-top:2.5rem;}
    .address-grp address{position:absolute; bottom:6.5rem;}
    .footer-cont .link-area{position:absolute; top:2.7rem; padding-right:2rem;}
    .footer-cont .logo-grp{margin-top:10rem;}
}