@charset "utf-8";

/* layout */
.inner-wrap{padding:0 1rem;}
.max-width{max-width:160rem; margin:0 auto;}
.inner + .inner{margin-top:8rem;}

/* main contents */
.content-wrap.main{padding-bottom:0;}
.inner-wrap.contents{max-width:var(--layout-max-width); margin:6rem auto 0; padding:var(--pd-0-17);}
.inner-wrap.main-bn{position:relative; height:65.8rem; padding:10rem 17rem 5rem; color:#fff; background:url(../images/common/img_main_bg.webp) center center / cover no-repeat;}
.inner-wrap.main-bn > *:not(.img-tory){position:relative; z-index:1;}
.inner-wrap.main-bn .h2-title{padding:0; font-size:5.4rem;}
.inner-wrap.main-bn .h2-title .sub-tit{display:block; margin-top:1rem; font-weight:500; font-size:2rem;}
.inner-wrap.main-bn .bn-grp{display:flex; gap:2.8rem; margin-top:11rem;}
.inner-wrap.main-bn .bn-grp .btn-bn{display:inline-block; width:50.8rem; height:30rem; text-indent:-9999px; background-position:center center; background-size:100%; background-repeat:no-repeat;}
.inner-wrap.main-bn .bn-grp .btn-bn.bg01{background-image:url(../images/common/btn_main_bn01.svg);}
.inner-wrap.main-bn .bn-grp .btn-bn.bg02{background-image:url(../images/common/btn_main_bn02.svg);}
.inner-wrap.main-bn .img-tory{position:absolute; top:2.2rem; right:4.4rem; z-index:0;}

.link-grp{display:flex; background:#8AC650; border-radius:1rem;}
.link-grp li{width:calc(100% / 4); height:8rem;}
.link-grp li + li{position:relative;}
.link-grp li + li::before{content:''; display:inline-block; position:absolute; top:50%; left:0; width:.1rem; height:calc(100% - 2.6rem); background:rgba(0, 139, 68, 0.3); transform:translateY(-50%);}
.link-grp li a{display:inline-flex; gap:2rem; justify-content:center; align-items:center; width:100%; height:100%; color:#fff; font-weight:700; font-size:2rem;}
.link-grp + .noti-grp{margin-top:1rem;}

.noti-grp{display:flex; gap:6rem; width:100%; height:8rem; color:#fff; padding:0 3.8rem 0 6rem; background:var(--primary-color); border-radius:1rem;}
.noti-grp strong{flex:0 0 auto; display:inline-flex; gap:2.3rem; align-items:center; font-weight:700; font-size:2.4rem;}
.noti-grp strong img{display:block; width:4rem; margin-top:.5rem; aspect-ratio: 1 / 1;}
.noti-grp .noti-gen{flex-grow:1; display:flex; gap:2rem; justify-content:space-between; align-items:center;}
.noti-grp .noti-gen .swiper.noti{width:100%; height:100%;}
.noti-grp .noti-gen ul li{font-weight:400; font-size:2rem;}
.noti-grp .noti-gen .swiper-slide{display:flex; align-items:center;}
.noti-grp .btn-grp button{display:block; width:2rem; height:1.1rem; padding:1rem; background-position:center center; background-size:2rem 1.1rem; background-repeat:no-repeat; box-sizing:content-box;}
.noti-grp .btn-grp button.btn-up{background-image:url(../images/common/icon_noti_arrow_up.svg);}
.noti-grp .btn-grp button.btn-down{background-image:url(../images/common/icon_noti_arrow_down.svg);}

.tit.info{display:block; margin-top:10rem; font-weight:800; font-size:4.8rem; text-align:center; font-family:var(--ff-nsr);}
.tit.info .tit-sub{display:block; margin-top:1.4rem; font-weight:400; font-size:2rem; font-family:var(--ff-default);}
.tit + .tab-container{margin-top:4rem;}

/* map-wrap */
.map-wrap{display:flex; gap:6.5rem;}
.map-wrap .txt-grp{width:45%;}
.map-wrap .txt-grp > strong{font-weight:700; font-size:4.8rem;}
.map-wrap .txt-grp > strong .floor{display:block; color:#a3b1cc; font-weight:100; font-size:9rem;}
.map-wrap .txt-grp > strong + p{margin-top:1.3rem; font-weight:400; line-height:2.8rem; font-size:1.8rem;}
.map-wrap .txt-grp > p + img{display:block; width:26.4rem; margin-top:4.4rem;}
.map-wrap .img-grp{width:55%; max-width:85.5rem;}
.map-wrap .img-grp img{display:block; width:100%;}

/* inner-wrap story */
.inner-wrap.story{position:relative; width:100%; height:49rem; margin:4rem auto 0; background:url(../images/common/img_story_bg.svg) center center / cover no-repeat;}
.inner-wrap.story .bg-img{position:absolute; bottom:0; z-index:0;}
.inner-wrap.story > *:not(.bg-img){position:relative; z-index:1;}
.inner-wrap.story .tit{color:#fff; font-weight:800; font-size:4.8rem; font-family:var(--ff-nsr);}
.inner-wrap.story .tit .sub-tit{display:block; margin-top:1.4rem; font-weight:400; font-size:2rem; font-family:var(--ff-default);}
.inner-wrap.story .stroy-cont{width:63%; max-width:121rem; margin-left:auto; padding-top:7.5rem;}
.inner-wrap.story .img-wrap{display:flex; gap:2.8rem;}
.inner-wrap.story .img-wrap li{flex:0 0 auto;}
.inner-wrap.story .img-wrap li a{display:inline-flex; flex-direction:column; justify-content:flex-end; align-items:center; width:23.8rem; height:21rem; padding-bottom:4rem; font-weight:500; line-height:2.4rem; font-size:1.8rem; background:#fff; border-radius:2rem;}
.inner-wrap.story .img-wrap li a img{display:block; margin-bottom:2.5rem;}
.inner-wrap.story .tit + .scroll-wrap{margin-top:3.5rem;}

/* scrollbar custom */
.scroll-wrap{display:flex; align-items:center; position:relative;}
.scroll-wrap .scroll{overflow-x:auto; width:100%; padding-bottom:7.8rem; white-space:nowrap; scrollbar-width:none; /* firefox */}
.scroll-wrap .scroll::-webkit-scrollbar{display:none;} /* chrome, safari */
.scroll-wrap .scroll-controller{display:flex; position:absolute; bottom:0; left:0; width:100%;}
.scroll-wrap .scroll-progress{flex-grow:1; position:relative; left:-.1rem; background:#0F2A43; cursor:pointer;}
.scroll-wrap .scroll-thumb{position:absolute; width:30%; height:100%; background:#8AC650; cursor:grab;}
.scroll-wrap .scroll-btns{display:flex; background:#0F2A43;}
.scroll-wrap .scroll-btns button{width:4.5rem; height:4rem; text-indent:-9999px; background-position:center center; background-size:1.2rem 2rem; background-repeat:no-repeat;}
.scroll-wrap .scroll-btns button.btn-left{background-image:url(../images/common/icon_scroll_arrow_left.svg);}
.scroll-wrap .scroll-btns button.btn-right{background-image:url(../images/common/icon_scroll_arrow_right.svg);}
.scroll-wrap .scroll-x{padding-bottom:3.8rem;}

/* inner-wrap info */
.info-bg{overflow:hidden; position:relative;}
.info-bg::before{content:''; display:block; position:absolute; bottom:0; left:0; width:100%; height:82.4rem; background:url(../images/common/img_info_bg.png) center center / cover no-repeat; z-index:0;}
.inner-wrap.info{position:relative; z-index:1;}
.max-width-inner.info{padding:0 4.5rem;}
.inner-wrap.info .swiper{overflow:unset; width:calc(100% + 4.5rem); padding-left:4.5rem; left:-4.5rem;}
.inner-wrap.info .swiper .swiper-slide{width:calc(100% / 2 - 2.8rem / 2);}
.inner-wrap.info .swiper .swiper-slide img{display:block; width:100%;}
.inner-wrap.info .swiper .swiper-slide .disc{display:block; margin-top:2rem; color:#fff; font-weight:700; font-size:2.4rem;}
.inner-wrap.info .swiper + .inner{margin-top:8rem;}
.inner-wrap.info .swiper .control button{position:absolute; top:calc(50% - 4.8rem); width:9rem; height:9rem; transform:translateY(-50%); background-position:center center; background-size:100%; background-repeat:no-repeat; z-index:10;}
.inner-wrap.info .swiper .control button.btn-prev{left:0; background-image:url(../images/common/btn_info_slide_prev.svg);}
.inner-wrap.info .swiper .control button.btn-next{right:-4.5rem; background-image:url(../images/common/btn_info_slide_next.svg);}
.inner-wrap.info .swiper .control button[disabled]{opacity: .7 !important; cursor: default;}
.inner-wrap.info .tit-grp{color:#fff;}
.inner-wrap.info .tit-grp + .go-to-wrap{margin-top:2rem;}

/* go-to-wrap */
.go-to-wrap{background:#fff; border-radius:1rem;}
.go-to-wrap strong{display:block; padding:4rem 5rem 2.2rem; font-weight:700; line-height:3rem; font-size:2.4rem;}
.go-to-wrap > ul{display:flex; height:20rem; margin-bottom:3.7rem;}
.go-to-wrap > ul li + li{border-left:.1rem solid #BFC0C4;}
.go-to-wrap > ul li{flex-grow:1; text-align:center;}
.go-to-wrap > ul li img{display:block; width:11rem; height:11rem; margin:0 auto;}
.go-to-wrap > ul li img + p{margin-top:2rem;}
.go-to-wrap > ul li p{font-weight:500; font-size:2.4rem;}
.go-to-wrap > ul li p .cnt{display:block; width:100%; margin-bottom:1.2rem; font-weight:700; line-height:1.8rem; font-size:1.6rem;}
.btn-goto{display:inline-flex; justify-content:center; align-items:center; gap:3rem; width:100%; height:8rem; color:#fff; font-weight:700; font-size:2.2rem; line-height:2.4rem; background:#8AC650; border-radius:0 0 1rem 1rem;}


/* experience */
.ex-bg-inner{display:flex; flex-direction:column; padding-top:3rem; height:81.3rem; background:url(../images/common/img_experience_bg03.png) right center / 70% no-repeat;}
.ex-bg-inner strong{font-weight:700; font-size:6rem;}
.ex-bg-inner strong .cnt-point{display:block; color:#8AC650; font-size:4rem;}
.ex-bg-inner strong + .disc{margin-top:1.9rem;}
.ex-bg-inner .disc{font-weight:400; font-size:2rem;}
.img-ex-tory{display:block; width:30rem; margin-top:auto;}
.ex-bg-inner + .scroll-wrap{margin-top:8rem;}
.experience .scroll-wrap{width:100vw;}
.experience .scroll-wrap .img-wrap{display:flex; gap:2.8rem;}
.experience .scroll-wrap .img-wrap li{width:37.4rem;}
.experience .scroll-wrap .img-wrap li .txt-list{margin-top:2rem;}
.experience .scroll-wrap .img-wrap li .txt-list strong{font-weight:700; line-height:3.2rem; font-size:2.4rem;}
.experience .scroll-wrap .img-wrap li .txt-list p{margin-top:1rem; font-weight:400; line-height:2.4rem; font-size:1.8rem; white-space:normal;}
.experience .scroll-wrap .scroll-btns,
.experience .scroll-wrap .scroll-progress{background:#DFE3EB;}
.experience .scroll-wrap .scroll-btns .btn-left{background-image:url(../images/common/icon_ex_scroll_arrow_left.svg);}
.experience .scroll-wrap .scroll-btns .btn-right{background-image:url(../images/common/icon_ex_scroll_arrow_right.svg);}
.experience .img-wrap.numbering li .txt-list{position:relative; padding-left:4rem;}
.experience .img-wrap.numbering li .txt-list::before{display:inline-flex; justify-content:center; align-items:center; position:absolute; top:0; left:0; width:3.2rem; height:3.2rem; color:#fff; font-weight:700; font-size:2rem; background:#1464FF; border-radius:50%;}

/* card-wrap */
.card-wrap{display:flex; gap:2.8rem;}
.card-wrap > li{width:calc(100% / 3 - 2.8rem / 3); background:#fff; border-radius:1rem; transition:box-shadow .3s, transform .3s; box-shadow:.2rem .2rem 1.5rem 0 rgba(0, 0, 0, 0.1);}
.card-wrap > li:hover{transform:translateY(-.5rem); box-shadow:0 .8rem 2rem rgba(0, 0, 0, .08);}
.card-wrap li .card-inner{padding:5rem 4rem 3rem;}
.card-wrap li .card-inner strong{display:inline-flex; align-items:flex-end; margin-bottom:1.5rem; font-weight:700; line-height:3rem; font-size:3.2rem;}
.card-wrap li .card-inner strong .sm{display:inline-block; margin-left:.5rem; font-size:2rem; line-height:1;}
.card-wrap li .card-inner strong .tit{display:inline-block; margin-left:3rem;}
.card-wrap li .card-inner > img{display:block; width:100%;}
.card-wrap li .card-inner p{margin-top:1.5rem; font-weight:400; line-height:2.4rem; font-size:1.8rem;}
.card-wrap li .badge-list{display:flex; flex-wrap:wrap; gap:.8rem 2rem; margin-top:3rem;}
.card-wrap li .badge-list li{display:inline-flex; gap:1rem; align-items:center; width:calc(100% / 2 - 2rem / 2); font-weight:500; font-size:1.6rem;}
.card-wrap .btn-res{display:inline-flex; justify-content:center; align-items:center; width:100%; height:8rem; color:#fff; font-weight:700; font-size:2.2rem; width:100%; background:#1464FF; border-radius:0 0 1rem 1rem;}

/* res-grp */
.res-grp{display:flex; gap:4.6rem;}
.res-grp li{display:inline-flex; gap:.5rem; flex-direction:column; justify-content:center; align-items:center; position:relative; width:calc(100% / 4 - 4.6rem / 3); height:16rem; background:#fff; border-radius:1rem;}
.res-grp li .level{color:#121212; font-weight:700; font-size:1.6rem;}
.res-grp li .txt{color:#121212; font-size:2.4rem;}
.res-grp li > img{display:none;}
.res-grp li ~ li::before{content:''; display:inline-block; position:absolute; top:50%; left:-3.6rem; width:2.6rem; height:3.6rem; background:url(../images/common/icon_res_arrow_next_on.svg) center center / 100% no-repeat; transform:translateY(-50%);}
.res-grp li.on ~ li::before{background-image:url(../images/common/icon_res_arrow_next.svg);}
.res-grp li.on{justify-content:flex-end; gap:0; background-color:#1464FF;}
.res-grp li.on .level{color:#fff;}
.res-grp li.on .level + .txt{margin-top:.5rem;}
.res-grp li.on .txt{margin-bottom:-.5rem; color:#fff;}
.res-grp li.on > img{display:block;}
.res-grp li.on ~ li{background:transparent; border:.1rem solid rgba(166, 168, 171, 0.5);}
.res-grp li.on ~ li .level{color:#A6A8AB;}
.res-grp li.on ~ li .txt{color:#6C6C6C;}

/* bg-wh-box */
.bg-wh-box{display:flex; justify-content:space-between; padding:1rem; padding:3rem 5rem; background:#fff; border-radius:1rem;}

.res-grp + .bg-wh-box.agree{margin-top:6.3rem;}
.bg-wh-box.agree p{line-height:3rem; font-size:2rem;}

.res-grp + .res-info{margin-top:6.3rem;}
.form-info{display:flex; flex-wrap:wrap; gap:1.6rem; align-items:center; padding:1.6rem 0; border-top:.3rem solid #000; border-bottom:.1rem solid #000;}
.form-info dt{min-width:10.6rem; font-weight:700; font-size:1.8rem;}
.form-info dd{width:calc(100% - 15rem); flex-grow:1;}
.form-info dd .ipt{width:100%; font-size:2rem;}
.form-info dd .ipt.readonly{background-color:transparent; border-color:#D9D9D9;}
.form-info dd textarea.ipt{min-height:5.2rem; height:auto;}
.ipt-cnt-grp{position: relative;}
.ipt-cnt-grp .ipt{padding-right:12rem;}
.ipt-cnt-grp .max-cnt{position:absolute; top:50%; right:2rem; font-weight:400; font-size:2rem; transform:translateY(-50%);}

/* terms-list */
.terms-list .txt-grp{height:30rem; padding:3.5rem 2rem 2.5rem 5rem; background:#fff; border-radius:1rem;}
.terms-list .txt-area{overflow-y:auto; height:100%; font-size:var(--font-size-16); line-height:2.4rem;}
.terms-list .txt-area::-webkit-scrollbar{width:.4rem;}
.terms-list .txt-area::-webkit-scrollbar-track{background:transparent; border-radius:5rem;}
.terms-list .txt-area::-webkit-scrollbar-thumb{background:rgba(166, 168, 171, 0.5); border-radius:5rem;}
.terms-list .radio-group{flex:0 0 auto; justify-content:center; align-items:flex-start; gap:4rem;}
.terms-list .agree-cont{display:flex; justify-content:space-between;}
.terms-list .agree-cont p{font-weight:300; font-size:2rem;}
.terms-list .txt-grp + .agree-cont{margin-top:2rem;}
.res-step > .btn-area{display:flex; justify-content:center; gap:2.8rem; margin:8.3rem 0 0;}
.res-step > .btn-area .btn{width:50rem; height:6rem; font-weight:700; font-size:2.4rem;}

/* exp-info */
.exp-info .title{display:flex; justify-content:space-between; padding:2.8rem 4rem; color:#fff; background:var(--primary-color); border-radius:1rem;}
.exp-info .title p{display:inline-flex; align-items:flex-end; font-size:1.8rem;}
.exp-info .title p b{display:inline-flex; align-items:flex-end; margin-right:2rem; font-size:1.6rem;}
.exp-info .title p b .count{margin-right:.5rem; margin-left:1.5rem; font-weight:700; line-height:2.4rem; font-size:3.2rem;}
.exp-info .title + .usr-list{margin-top:2rem;}
.exp-info .usr-list{display:flex; flex-wrap:wrap; gap:2rem 2.8rem; counter-reset:cnt;}
.exp-info .usr-list li{display:inline-flex; flex-wrap:wrap; position:relative; width:calc(100% / 4 - 2.8rem * 3 / 4); min-height:38rem; border-radius:1rem;}
.exp-info .usr-list li:not(.add-li){counter-increment:cnt;}
.exp-info .usr-list li:not(.add-li)::before{content:counter(cnt); display:inline-flex; justify-content:center; align-items:center; width:3.2rem; height:3.2rem; color:#fff; font-weight:700; line-height:2.4rem; font-size:2rem;  background:#8AC650; border-radius:50%;}
.exp-info .usr-list li:not(.add-li){padding:3rem 3.5rem; background:#fff;}
.exp-info .usr-list .btn-del{display:inline-block; align-self:center; width:3.2rem; height:3.2rem; margin-left:auto; text-indent:-9999px; background:url(../images/common/icon_usr_del.svg) right center / 1.4rem 1.4rem no-repeat;}
.exp-info .usr-list li dl{display:flex; flex-wrap:wrap; gap:2rem; width:100%; margin-top:2rem;}
.exp-info .usr-list li dl dt{min-width:8.6rem; font-weight:700; line-height:2.4rem; font-size:1.6rem;}
.exp-info .usr-list li dl dd{flex-grow:1; width:calc(100% - 12rem);}
.exp-info .usr-list li.add-li{border:.1rem solid rgba(166, 168, 171, 0.3);}
.exp-info .usr-list li.add-li .btn-add{display:inline-flex; flex-direction:column; justify-content:center; align-items:center; width:100%; height:100%; font-weight:500; line-height:3.8rem; font-size:2.4rem;}
.exp-info .usr-list li.add-li .btn-add img{display:block; width:17rem; height:17rem;}
.exp-info .btn-grp button{display:inline-flex; gap:.5rem; align-items:center; color:#fff; font-weight:700; line-height:2.4rem; font-size:1.6rem;}
.exp-info .btn-grp button + button{margin-left:4rem;}

/* tab */
.tab-content{display:none;}
.tab-content.is-active{display:block;}
.tab-container.full .tab-head{display:flex;}
.tab-container.full .tab-head li{flex-grow:1; width:100%;}
.tab-container.full .tab-head li button{width:100%; height:7rem; padding:2rem 0; color:#A6A8AB;  font-weight:400; font-size:2.4rem; background:#0F2A43; transition:all .3s;}
.tab-container.full > .tab-head li button.is-active,
.tab-container.full .mo-dropdown-list .tab-head li button.is-active{color:#fff; font-weight:700; background:#1464FF;}
.tab-container.full .tab-head li:first-child button{border-radius:4rem 0 0 4rem;}
.tab-container.full .tab-head li:last-child button{border-radius:0 4rem 4rem 0;}
.tab-container.full .tab-content-wrap{padding:4rem 0 0;}
.tab-container.full .tab-head .tab-menu .num{margin-right:.5rem; font-weight:300;}

/* tab type02 */
.tab-container.full.type02 > .tab-head li button.is-active,
.tab-container.full.type02 .mo-dropdown-list .tab-head li button.is-active{background-color:#8AC650;}
.tab-container.full.type02 .tab-head li button{height:auto; font-weight:700;}
.tab-container.full .tab-menu .cnt{display:block; width:100%; margin-bottom:.6rem; font-weight:300; font-size:2rem;}

/* tab origin */
.tab-container.full.origin .tab-content-wrap{padding-top:6rem;}
.tab-container.full.origin > .tab-head li button.is-active, .tab-container.full.origin .mo-dropdown-list .tab-head li button.is-active{background:#8AC650;}
.tab-container.full.origin .tab-head li:first-child button{border-radius:1rem 0 0 0;}
.tab-container.full.origin .tab-head li:last-child button{border-radius:0 1rem 0 0;}


/* tab res-type full */
.tab-container.res-type .tab-head > li + li button{position:relative;}
.tab-container.res-type .tab-head > li + li button:not(.is-active)::before{content:''; display:inline-block; position:absolute; top:2rem; left:-.1rem; width:.1rem; height:calc(100% - 4rem); background:#62708A;}
.tab-container.sub.res-type .tab-head > li + li button:not(.is-active)::before{left:0;}
.res-grp + .res-type{margin-top:6.3rem;}
.tab-container.full.res-type > .tab-head{border-radius:1rem; box-shadow:.5rem .5rem 2rem 0 rgba(0, 0, 0, 0.15)}
.tab-container.full.res-type > .tab-head > li{width:auto;}
.tab-container.full.res-type > .tab-head > li > button{display:flex; gap:10rem; justify-content:space-between; position:relative; height:100%; padding:4rem 6rem; background:#fff; transition:none; border-radius:0;}
.tab-container.full.res-type > .tab-head > li:first-child,
.tab-container.full.res-type > .tab-head > li:first-child > button{border-radius:1rem 0 0 1rem;}
.tab-container.full.res-type > .tab-head > li:last-child,
.tab-container.full.res-type > .tab-head > li:last-child > button{border-radius:0 1rem 1rem 0;}
.tab-container.full.res-type > .tab-head > li > button .img-grp{display:none; position:relative; width:32rem; height:20rem;}
.tab-container.full.res-type > .tab-head > li > button .img-grp img{display:block; position:absolute; bottom:-4rem; width:100%;}
.tab-container.full.res-type > .tab-head > li > button .txt-grp{flex:0 0 auto; flex-grow:1; width:100%; color:#121212; text-align:left;}
.tab-container.full.res-type > .tab-head > li > button .txt-grp .tit{display:inline-flex; flex-wrap:wrap; font-size:3.6rem;}
.tab-container.full.res-type > .tab-head > li > button .txt-grp .tit .floor{display:inline-block; width:100%; margin-bottom:1.4rem; line-height:3rem; font-size:2rem;}
.tab-container.full.res-type > .tab-head > li > button .txt-grp .tit + ul{margin-top:2rem;}
.tab-container.full.res-type > .tab-head > li > button .txt-grp ul li{font-weight:300; line-height:2.6rem; font-size:1.8rem;}
.tab-container.full.res-type > .tab-head > li > button.is-active{position:relative; padding-right:34rem; background:#0F2A43 url(../images/common/icon_res_tab_thumb.svg) right 2rem bottom / 32rem no-repeat;}
.tab-container.full.res-type > .tab-head > li > button.is-active::after{content:''; display:inline-block; position:absolute; bottom:-5.9rem; left:50%; transform:translateX(-50%); border-top:3rem solid #0F2A43; border-right:1.5rem solid transparent; border-bottom:3rem solid transparent; border-left:1.5rem solid transparent;}
.tab-container.full.res-type > .tab-head > li > button.is-active .img-grp{display:block;}
.tab-container.full.res-type > .tab-head > li > button.is-active .txt-grp{color:#fff;}

/* tab res-type sub */
.tab-container.res-type.sub > .tab-head{display:flex; overflow:hidden; background:#0F2A43; border-radius:1rem;}
.tab-container.res-type.sub > .tab-head > li button{display:flex; gap:0 3rem; align-items:center; height:100%; padding:3rem 4rem; color:#fff; border-radius:0;}
.tab-container.res-type.sub > .tab-head > li button .course{flex:0 0 auto; font-weight:700; font-size:2rem;}
.tab-container.res-type.sub > .tab-head > li button .course b{margin-right:.5rem; font-size:4.8rem;}
.tab-container.res-type.sub > .tab-head > li button .tit-grp{display:flex; justify-content:space-between;}
.tab-container.res-type.sub > .tab-head > li button .tit-grp .txt{display:inline-flex; flex-wrap:wrap; gap:1rem .3rem; align-items:center;}
.tab-container.res-type.sub > .tab-head > li button .tit-grp .txt strong{width:100%; font-size:2.4rem; line-height:3rem; text-align:left;}
.tab-container.res-type.sub > .tab-head > li button .tit-grp .txt .zone-grp{display:inline-flex; gap:.7rem; align-items:center; font-size:1.6rem;}
.tab-container.res-type.sub > .tab-head > li button .tit-grp .txt .zone-grp .badge{display:inline-block; min-width:3.9rem; padding:.4rem .8rem; color:#0F2A43; font-weight:700; font-size:1.2rem; background:#d9d9d9; border-radius:1.2rem;}
.tab-container.res-type.sub > .tab-head > li button.is-active .tit-grp .txt .zone-grp .badge{color:#fff; background:#008B44;}
.tab-container.res-type.sub > .tab-head > li button .tit-grp .img-timer{flex:0 0 auto; display:block; width:6.8rem;}
.tab-container.res-type.sub > .tab-head > li button.is-active{background:#8AC650;}

/* zone-grp */
.zone-grp + .zone-grp{margin-left:3rem; position:relative;}
.zone-grp + .zone-grp::before{content:''; display:inline-block; position:absolute; top:50%; left:-2.3rem; width:1.6rem; height:1.6rem; background:url(../images/common/icon_res_tab_plus.svg) center center / 100% no-repeat; transform:translateY(-50%);}

/* res-com */
.inner.res-com{max-width:77.6rem; margin:0 auto;}
.inner.res-com .complete-txt{margin-top:6.3rem; font-weight:700; line-height:3rem; font-size:3.2rem; text-align:center;}
.inner.res-com .complete-txt img{display:block; width:12rem; margin:0 auto 4rem;}
.inner.res-com .res-com-wrap{position:relative; margin-top:5.7rem; padding:10rem 5rem 0; background:#fff; border-radius:1rem; box-shadow:.5rem .5rem 2rem 0 rgba(0, 0, 0, 0.15);}
.inner.res-com .res-com-wrap::before,
.inner.res-com .res-com-wrap::after{content:''; display:inline-block; width:10rem; height:10rem; position:absolute; left:50%; background:#f2f4f6; transform:translateX(-50%); border-radius:50%;}
.inner.res-com .res-com-wrap::before{top:-5rem;}
.inner.res-com .res-com-wrap::after{bottom:-5rem;}
.inner.res-com .res-com-wrap .tit{display:block; font-weight:700; line-height:3rem; font-size:3.6rem;}
.inner.res-com .res-com-wrap .tit + .list{margin-top:3rem;}
.inner.res-com .res-com-wrap .list{display:flex; flex-wrap:wrap; row-gap:3rem; padding:3rem 0; border-top:.3rem solid #000; border-bottom:.1rem solid #000;}
.inner.res-com .res-com-wrap .list dt{min-width:12rem; font-weight:700; line-height:2.4rem; font-size:1.8rem;}
.inner.res-com .res-com-wrap .list dd{flex-grow:1; width:calc(100% - 15rem); font-weight:400; line-height:2.4rem; font-size:2rem;}
.inner.res-com .res-com-wrap .list + ul{margin-top:3rem; margin-bottom:4rem;}
.inner.res-com .res-com-wrap > ul li{font-weight:300; font-size:1.8rem; line-height:2.6rem;}
.inner.res-com .res-com-wrap > ul li + li{margin-top:1rem;}
.inner.res-com .res-com-wrap .btn-area{display:flex; overflow:hidden; position:relative; left:-5rem; width:calc(100% + 10rem); border-radius:0 0 1rem 1rem;}
.inner.res-com .res-com-wrap .btn-area .btn{width:100%; height:10rem; line-height:2.6rem; font-size:2.4rem; border-radius:0;}

/* res-com detail */
.inner.res-com.detail .res-com-wrap{margin:0;}





/* choice-wrap */
.choice-wrap .choice{display:inline-flex; gap:1.5rem; justify-content:center; align-items:center; width:100%; padding:4rem 0; font-weight:600; line-height:3rem; font-size:3.2rem; border-top:.1rem dashed #BFC0C4; border-bottom:.1rem dashed #BFC0C4;}
.choice-wrap .choice img{display:inline-block; height:3.4rem;}
.choice-wrap .choice + .card-box{margin-top:7rem;}
.choice-wrap .card-box{display:flex; gap:7rem; justify-content:center; padding-bottom:20rem; padding-bottom:12rem;}
.choice-wrap .card-box li{overflow:hidden; width:39.3rem; background:#fff; border-radius:1rem;}
.choice-wrap .card-box li .btn-res{display:flex; flex-wrap:wrap; justify-content:center; width:100%; padding-top:6rem;}
.choice-wrap .card-box li .btn-res img{display:block; width:16rem; aspect-ratio:1 / 1;}
.choice-wrap .card-box li .btn-res img + .txt{margin-top:6rem;}
.choice-wrap .card-box li .btn-res .txt{width:100%; text-align:center;}
.choice-wrap .card-box li .btn-res .txt strong{display:block; font-weight:700; line-height:3rem; font-size:3.6rem;}
.choice-wrap .card-box li .btn-res .txt .disc{display:inline-block; margin-top:1rem; font-weight:400; line-height:2.4rem; font-size:2rem;}
.choice-wrap .card-box li .btn-res .bottom-badge{display:inline-block; width:100%; margin-top:5rem; padding:1.8rem 0; color:#fff; font-weight:700; line-height:2.4rem; font-size:2rem; text-align:center; background:var(--primary-color);}
.choice-wrap .card-box li .btn-res .bottom-badge.type2{background:#1464ff;}
.choice-wrap .card-box li .btn-res .bottom-badge.type3{background:#8AC650;}

/* history-wrap */
.num-gen-list{counter-reset:cnt;}
.num-gen-list > li{counter-increment:cnt; display:flex; overflow:hidden; position:relative; width:100%; min-height:12rem; background:#fff; border-radius:1rem;}
.num-gen-list > li + li{margin-top:1rem;}
.num-gen-list > li::before{content:counter(cnt); position:absolute; top:50%; left:3rem; min-width:3.6rem; font-weight:700; line-height:3rem; font-size:3.2rem; text-align:center; transform:translateY(-50%);}
.num-gen-list > li .box-list{flex-grow:1; display:flex; gap:6rem; padding:3rem 3rem 3rem 10rem;}

.num-gen-list > li .box-list .box > .tit{font-weight:700; line-height:3rem; font-size:1.4rem;}
.num-gen-list > li .box-list .box > .tit + p{margin-top:.5rem;}
.num-gen-list > li .box-list .box > p{font-weight:400; line-height:2.4rem; font-size:1.8rem;}

.num-gen-list > li .btn-grp{flex:0 0 auto; display:flex;}
.num-gen-list > li .btn-grp .area{width:12rem; height:100%; color:#fff;}
.num-gen-list > li .btn-grp .area .btn-cancle{background:#3B4963;}
.num-gen-list > li .btn-grp .area .btn-detail{background:#8AC650;}

.num-gen-list > li .btn-grp [class*='btn-'],
.num-gen-list > li .btn-grp .area .disable,
.num-gen-list > li .btn-grp .area .com{display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%; height:100%; color:#fff; font-weight:700; line-height:2.4rem; font-size:1.6rem;}
.num-gen-list > li .btn-grp [class*='btn-'] img{display:block; width:2rem; margin:0 auto .9rem;}

.num-gen-list > li .btn-grp .area .disable{background:rgba(59, 73, 99, 0.5);}
.num-gen-list > li .btn-grp .area .com{color:#121212; background:#DCDDDD;}
.num-gen-list > li .btn-grp .area .com .date{display:inline-block; margin-top:.7rem; padding:0 3rem; font-weight:300; line-height:normal; font-size:1.4rem; text-align:center;}

/* page-list */
.page-list{display:flex; gap:.5rem; justify-content:center; align-items:center; margin-top:4rem;}
.page-list > .btn-paging{display:inline-flex; width:3.6rem; height:3.6rem; text-indent:-9999px; background-position:center center; background-size:100%; background-repeat:no-repeat;}
.page-list > .btn-paging.mo-only{display:none;}
.page-list > .btn-paging.pc-only{display:inline-flex;}
.page-list > .btn-paging.prev{background-image:url(../images/common/icon_page_prev.svg);}
.page-list > .btn-paging.prev2{background-image:url(../images/common/icon_page_prev2.svg);}
.page-list > .btn-paging.next{background-image:url(../images/common/icon_page_next.svg);}
.page-list > .btn-paging.next2{background-image:url(../images/common/icon_page_next2.svg);}

.page-list > .btn-paging.prev:hover{background-image:url(../images/common/icon_page_prev_on.svg);}
.page-list > .btn-paging.prev2:hover{background-image:url(../images/common/icon_page_prev2_on.svg);}
.page-list > .btn-paging.next:hover{background-image:url(../images/common/icon_page_next_on.svg);}
.page-list > .btn-paging.next2:hover{background-image:url(../images/common/icon_page_next2_on.svg);}

.page-list .num-list{display:flex; gap:1.5rem; margin:0 1rem;}
.page-list .num-list li button{display:inline-flex; justify-content:center; align-items:center; width:3.6rem; height:3.6rem; font-weight:400; font-size:var(--font-size-18);}
.page-list .num-list li:hover button,
.page-list .num-list li.on button{color:#fff; font-weight:700; background-color:var(--primary-color); border-radius:50%;}
.page-list .num-list.pc-only{display:flex;}
.page-list .count-grp.mo-only{display:none;}

/* mo-drop */
.mo-drop .mo-btn-dropdown{display:none;}

/* search-area */
.search-area{display:flex; gap:1rem; margin-bottom:3rem;}
.search-area .btn{height:5.2rem; gap:1rem; font-size:2rem;}
.search-area .search-ipt{width:38rem;}
.search-area .ico-search{width:1.8rem; height:1.8rem;}

/* bbs-list */
.bbs-list{position:relative; border-top:.2rem solid #0F2A43;}
.bbs-list .bbs-title{display:flex; align-items:center; height:6rem; border-bottom:.1rem solid #0F2A43;}
.bbs-list .bbs-title li{font-weight:600; font-size:var(--font-size-20); text-align:center;}
.bbs-list .bbs-title li.num{width:10%;}
.bbs-list .bbs-title li.division{width:15%;}
.bbs-list .bbs-title li.tit{flex-grow: 1;}
.bbs-list .bbs-title li.date{width:15%;}

.bbs-list .bbs-gen-list li{border-bottom:.1rem solid #D9D9D9;}
.bbs-list .bbs-gen-list li > a{display:flex; align-items:center; height:6rem; font-weight:300; font-size:var(--font-size-18); text-align:center;}
.bbs-list .bbs-gen-list li:hover > a{background:#fff;}
.bbs-list .bbs-gen-list li > a .list-num{width:10%; display:inline-flex; justify-content:center; align-items:center;}
.bbs-list .bbs-gen-list li > a .list-division{width:15%;}
.bbs-list .bbs-gen-list li .list-txt{display:flex; align-items:center; gap:1rem; width:60%; font-weight:500; text-align:left;}
.bbs-list .bbs-gen-list li .list-txt > p{display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.bbs-list .bbs-gen-list li > a .list-txt .ico{flex:0 0 auto; width:1.6rem; height:1.6rem;}
.bbs-list .bbs-gen-list li > a .list-date{width:15%;}

.bbs-list .bbs-gen-list li.noti a, .bbs-list .bbs-gen-list li.noti a .list-txt{font-weight:700;}
.bbs-list .bbs-gen-list li.noti a{color:#1464FF;}
.bbs-list .bbs-gen-list li.noti a .list-date{font-weight:600;}


/* title */
.h2-title{padding:8.3rem 0 6rem; font-weight:500; font-size:6rem; text-align:center;}
.h3-title{display:flex; gap:1rem; align-items:center; margin-bottom:2rem; font-weight:700; font-size:3.2rem;}
.sub-disc{margin-top:2rem; font-weight:500; line-height:2.6rem; font-size:2rem;}
.sub-disc02{font-size:1.6rem; line-height:2.4rem;}
.tit-grp.sub-between{display:flex; gap:2rem; justify-content:space-between; align-items:center; margin-bottom:2rem;}
.tit-grp.sub-between .h3-title{flex:0 0 auto; margin-bottom:0;}

/* ect */
.ico.icon-program-badge01::before{background-image:url(../images/common/icon_program_badge01.svg);}
.ico.icon-program-badge02::before{background-image:url(../images/common/icon_program_badge02.svg);}
.ico.icon-program-badge03::before{background-image:url(../images/common/icon_program_badge03svg);}
.ico.icon-program-badge04::before{background-image:url(../images/common/icon_program_badge04.svg);}
.ico.icon-program-badge05::before{background-image:url(../images/common/icon_program_badge05.svg);}
.ico.icon-upload::before{background-image:url(../images/common/icon_exp_upload.svg);}
.ico.icon-download::before{background-image:url(../images/common/icon_exp_download.svg);}
.ico.icon-modal-login{background-image:url(../images/common/icon_modal_login.svg);}
.ico.icon-modal-join{background-image:url(../images/common/icon_modal_join.svg);}
.icon-search::before{background-image:url(../images/common/icon_search.svg);}
.icon-noti::before{background-image:url(../images/common/icon_noti.svg);}
.icon-attach::before{background-image:url(../images/common/icon_attach.svg);}


.txt14{font-size:1.4rem;}
.txt16{font-weight:400; font-size:1.6rem; line-height:2.2rem;}
.txt18{font-weight:500; font-size:1.8rem; line-height:2.6rem;}
.txt20{font-weight:600; font-size:2.0rem; line-height:2.6rem;}
.txt24{font-weight:700; font-size:2.4rem; line-height:3.2rem;}
.txt26{font-weight:700; font-size:2.6rem;}
.txt30{font-weight:700; font-size:3rem; line-height:3.8rem;}
.txt32{font-weight:700; font-size:3.2rem; line-height:3.8rem;}
.txt36{font-weight:700; font-size:3.6rem;}
.txt40{font-weight:700; font-size:4rem;}
.txt48{font-weight:700; font-size:4.8rem;}
.txt-box{margin-top:2rem;}
.txt-box li + li{margin-top:.3rem;}
.txt-box .ico{flex:0 0 auto;}
.sub-inner .txt-box{margin-top:1rem;}
.bullet{position:relative; padding-left:1.5rem;}
.bullet::before{content:''; display:inline-block; position:absolute; top:1rem; left:0; width:.5rem; height:.5rem; background:#BFC0C4; border-radius:50%;}
.bullet.type02{padding-left:1rem; line-height:2.4rem;}
.bullet.type02::before{width:.3rem; height:.3rem; top:1.5rem;}
.bullet.type03{padding-left:1rem;}
.bullet.type03::before{width:.3rem; height:.3rem; top:1.1rem; background:var(--font-color-black);}
.txt-blue{color:var(--font-color-blue);}
.txt-blue2{color:#1464FF;}
.txt-red{color:var(--font-color-red);}
.txt-primary{color:var(--primary-color);}
.txt-gray{color:var(--font-color-gray);}
.fwl{font-weight:300 !important;}
.fwr{font-weight:400 !important;}
.fwm{font-weight:500 !important;}
.fwsb{font-weight:600 !important;}
.fwb{font-weight:700 !important;}
.min-h80{min-height:8rem;}
.has-icon{display:inline-flex; gap:1rem; align-items:center;}
.top-line{padding:5rem 0 4rem; border-top:.1rem solid #D9D9D9;}
.tac{justify-content:center; text-align:center;}
.tal{justify-content:flex-start; text-align:left;}
.tar{justify-content:flex-end; text-align:right;}
.txt-flex{display:flex; gap:.5rem;}
.w100p{width:100%;}
.mt10{margin-top:1rem;}
.w300{width:30rem;}
.w500{width:50rem;}

/* calendar-header */
.cal-wrap{position:relative; margin-top:4rem;}
.calendar-header{display:flex; justify-content:space-between; align-items:center; position:absolute; top:1rem; right:0; width:auto; height:3.2rem;}
.badge-grp{display:flex; gap:2rem;}
.badge-grp .badge{display:inline-flex; gap:.8rem; align-items:center; font-size:var(--font-size-16);}
.badge-grp .badge::before{content:''; flex:0 0 auto; display:inline-block; width:1.6rem; height:1.6rem; border-radius:50%;}
.badge-grp .badge.badge-type01::before{background:#8AC650;}
.badge-grp .badge.badge-type02::before{background:#A6A8AB;}

/* full-calendar */
.full-calendar.fc, .full-calendar.fc .fc-daygrid, .fc-scrollgrid, .fc .fc-scroller-harness, .fc .fc-scroller, .fc .fc-daygrid-body, .fc .fc-scrollgrid table{height:100%;}
.full-calendar.fc .fc-scrollgrid{border-top:none; border-left:none;}
.full-calendar.fc .fc-scrollgrid-section td{border-right:none; border-bottom:none;}
.full-calendar.fc th{height: 2.2rem; border:none;}
.full-calendar.fc .fc-daygrid-day-frame{min-height:19rem; height:100%; padding:0 1.6rem 1.6rem; background:#fff;}
.full-calendar.fc .fc-toolbar{gap:2rem; height:3.8rem; margin:0 auto 2.2rem;}
.full-calendar.fc .fc-toolbar-title{font-size:3.2rem;}
.full-calendar.fc .fc-toolbar-chunk .fc-button{height:2.9rem; padding:.5rem 1rem; background:transparent; border:none;}
.full-calendar.fc .fc-toolbar-chunk .fc-button:focus{border:none; outline:none; box-shadow: none;}
.full-calendar.fc .fc-icon-chevron-left,
.full-calendar.fc .fc-icon-chevron-right{display:inline-flex; justify-content:center; align-items:center;}
.full-calendar.fc .fc-icon-chevron-left::before{content:''; display:inline-block; width:.8rem; height:1.2rem; background:url(../images/common/icon_fc_arrow_prev.svg) center center / 100% no-repeat;}
.full-calendar.fc .fc-icon-chevron-right::before{content:''; display:inline-block; width:.8rem; height:1.2rem; background:url(../images/common/icon_fc_arrow_next.svg) center center / 100% no-repeat;}
.full-calendar.fc .fc-daygrid-day-number{padding:1rem 0 1.5rem 0; font-weight:700; font-size:1.4rem;}
.full-calendar.fc .fc-day-other{pointer-events:none; opacity:.6;}
.full-calendar.fc .fc-day-other .fc-highlight{background:transparent;}
.full-calendar.fc .fc-h-event .fc-event-title{color:#fff; font-weight:500; font-size:1.4rem; white-space:normal;}
.full-calendar.fc .fc-daygrid-event{margin:.1rem 0 0; border-radius:1.8rem; border:none; cursor:pointer;}
.full-calendar.fc .fc-daygrid-event.res{background:#8AC650;}
.full-calendar.fc .fc-daygrid-event.res.closed{background:#A6A8AB; cursor:default; pointer-events:none;}
.full-calendar.fc .fc-daygrid-event.res.disabled{background:#A6A8AB; cursor:default; pointer-events:none;}
.full-calendar.fc .fc-col-header-cell-cushion{margin-bottom:.8rem; padding:0; font-weight:400; font-size:var(--font-size-12); text-transform: uppercase;}
.full-calendar.fc .fc-col-header-cell-cushion[aria-label="Saturday"],
.full-calendar.fc .fc-day-sat .fc-daygrid-day-number{color:#0080C5;}
.full-calendar.fc .fc-col-header-cell-cushion[aria-label="Sunday"],
.full-calendar.fc .fc-day-sun .fc-daygrid-day-number{color:#f00;}
.full-calendar.fc .fc-h-event .fc-event-title-container{min-height:1.8rem; padding:.6rem 1rem; border-radius:1.8rem;}

.footer-banner-slider, .footer-cont{padding-left:2rem; padding-right:2rem;}

@media(max-width:1500px){
    .num-gen-list > li .box-list{flex-wrap:wrap; gap:2rem 3rem;}
}

@media(max-width:1400px){
    .exp-info .usr-list li{width:calc(100% / 3 - 2.8rem * 2 / 3);}

    .tab-container.full.res-type > .tab-head > li > button{gap:2rem; padding:2rem 3rem;}
    .tab-container.full.res-type > .tab-head > li > button.is-active{padding-right:20rem; background-size:20rem;}
    .tab-container.full.res-type > .tab-head > li > button .img-grp{flex:0 0 auto;}
    .tab-container.full.res-type > .tab-head > li > button .img-grp img{right:2rem; bottom:-2rem; width:80%;}
    .tab-container.full.res-type > .tab-head > li > button .txt-grp .tit{font-size:3.2rem;}
    
    .tab-container.res-type.sub > .tab-head > li button{flex-wrap:wrap; gap:0; padding:3rem 2rem;}


}

@media(max-width:1240px){
    .tab-container.full.res-type > .tab-head > li > button .img-grp{width:24rem;}
    .tab-container.full.res-type > .tab-head > li > button .img-grp img{width:24rem;}
    .tab-container.full.res-type > .tab-head > li > button .txt-grp .tit{font-size:2.8rem;}
}   



@media(max-width:1024px){
    .inner-wrap{padding:0 2rem;}
    .h2-title{padding:4rem 0 2.4rem; font-size:3.6rem;}
    .h3-title{font-size:2.4rem;}
    .h3-title img{align-self:flex-start; margin-top:.5rem;}

    .res-grp{gap:2.8rem;}
    .res-grp li{height:15rem; text-align:center;}
    .res-grp li .level{font-size:1.6rem;}
    .res-grp li .txt{font-weight:500; font-size:1.8rem;}
    .res-grp li + li::before{left:-2.3rem; width:1.8rem; height:2.6rem;}
    .res-grp li.on .txt{font-weight:700;}
    .res-grp li.on > img{width:7.1rem; height:5.2rem; margin-top:.6rem;}

    .bg-wh-box{padding:2rem;}
    .res-grp + .bg-wh-box.agree{margin-top:4rem;}
    .bg-wh-box.agree{flex-wrap:wrap; gap:1rem;}
    .bg-wh-box.agree > p{line-height:2.4rem; font-size:1.6rem;}

    .inner + .inner{margin-top:4rem;}

    .terms-list .txt-grp{height:47.6rem;}
    .terms-list .txt-grp{padding:3rem 1rem 3rem 1.5rem;}
    .terms-list .agree-cont{gap:1rem; flex-wrap:wrap; justify-content:center;}
    .terms-list .agree-cont p{width:100%; font-weight:300; font-size:1.8rem; line-height:2.6rem;}
    .res-step > .btn-area{gap:1.5rem; width:100%; margin-top:4rem;}
    .res-step > .btn-area .btn{font-size:2rem;}

    .res-grp + .res-info{margin-top:4rem;}
    .tit-grp.sub-between{flex-wrap:wrap; gap:1.5rem;}
    .tit-grp.sub-between .h3-title{width:100%;}

    .form-info{gap:1rem;}
    .form-info dd{width:100%;}
    .form-info dd .ipt{font-size:1.8rem;}
    .form-info dd + dt{margin-top:.6rem;}
    .ipt-cnt-grp .max-cnt{font-size:1.6rem;}
    .exp-info .title{flex-wrap:wrap; justify-content:center; padding:2.7rem 2rem;}
    .exp-info .title p{justify-content:center; width:100%;}
    .exp-info .title p b:last-child{margin-right:0;}
    .exp-info .title p + .btn-grp{margin-top:1.5rem;}
    .exp-info .title .btn-grp{display:flex; flex-wrap:wrap; gap:1.5rem; justify-content:center; width:100%;}
    .exp-info .title .btn-grp button{flex-grow:1; justify-content:center; margin:0; padding:.8rem 1.4rem; font-size:1.6rem; border:.1rem solid #fff; border-radius:1rem;}

    .exp-info .usr-list li{width:100%;}
    
    .inner.res-com .complete-txt{margin-top:4rem; font-size:3rem;}
    .inner.res-com .complete-txt img{width:8rem; margin-bottom:3rem;}
    .inner.res-com .res-com-wrap{margin-top:4rem; padding:5.5rem 2rem 0;}

    .inner.res-com .res-com-wrap::before, .inner.res-com .res-com-wrap::after{width:6rem; height:6rem;}
    .inner.res-com .res-com-wrap::before{top:-3rem;}
    .inner.res-com .res-com-wrap::after{bottom:-3rem;}
    .inner.res-com .res-com-wrap .tit{font-size:3.2rem;}
    .inner.res-com .res-com-wrap .tit + .list{margin-top:2rem;}
    .inner.res-com .res-com-wrap .list{row-gap:2rem; padding:2rem 0;}
    .inner.res-com .res-com-wrap .list dt{min-width:7rem; font-size:1.4rem;}
    .inner.res-com .res-com-wrap .list dd{width:calc(100% - 7rem); font-size:1.8rem;}
    .inner.res-com .res-com-wrap .list + ul{margin-top:2rem; margin-bottom:5.5rem;}
    .inner.res-com .res-com-wrap > ul li{font-size:1.6rem;}
    .inner.res-com .res-com-wrap .btn-area{left:-2rem; width:calc(100% + 4rem);}
    .inner.res-com .res-com-wrap .btn-area .btn{height:6rem; font-size:2rem;}

    .choice-wrap .choice{display:block; padding:3rem 1rem; font-size:2.2rem; text-align:center;}
    .choice-wrap .choice img{height:2.8rem; margin-left:1rem; vertical-align:middle;}
    .choice-wrap .choice + .card-box{margin-top:4rem;}
    .choice-wrap .card-box{flex-wrap:wrap; gap:2rem;}
    .choice-wrap .card-box li{width:100%;}
    .choice-wrap .card-box li .btn-res img{width:14rem;}
    .choice-wrap .card-box li .btn-res img + .txt{margin-top:4rem;}
    .choice-wrap .card-box li .btn-res .txt strong{font-size:3rem;}
    .choice-wrap .card-box li .btn-res .bottom-badge{margin-top:4rem;}

    /* res-type */
    .res-grp + .res-type{margin-top:6rem;}
    .tab-container.res-type.sub{width:100%;}
    .tab-container.full.res-type > .tab-head{flex-direction:column; overflow:hidden;}
    .tab-container.full.res-type > .tab-head > li > button,
    .tab-container.full.res-type > .tab-head > li:first-child > button,
    .tab-container.res-type.sub > .tab-head{border-radius:0;}
    .tab-container.res-type.sub > .tab-head{flex-direction:column; width:100%;}
    
    .tab-container.res-type.sub{display:none;}
    .tab-container.full.res-type > .tab-head > li + li{margin-top:.1rem; box-shadow:.5rem .5rem 2rem 0 rgba(255, 255, 255, .15%);}
    .tab-container.full.res-type > .tab-head > li:last-child, .tab-container.full.res-type > .tab-head > li:last-child > button{border-radius:0;}
    .tab-container.full.res-type > .tab-head > li > button.is-active + .tab-container.res-type.mo-only{display:flex;}
    .tab-container.full.res-type > .tab-head > li > button,
    .tab-container.full.res-type > .tab-head > li > button .txt-grp .tit{font-size:3.2rem;}
    .tab-container.full.res-type > .tab-head > li > button .txt-grp .tit + ul{margin-top:3rem;}
    .tab-container.full.res-type > .tab-head > li > button .txt-grp ul li{font-weight:500;}
    .tab-container.full.res-type > .tab-head > li > button .txt-grp ul li + li{margin-top:.5rem;}
    
    .tab-container.full.res-type > .tab-head > li > button.is-active{padding:2rem 3rem 3rem; background-position:right .7rem bottom -.1rem; background-size:17rem 13rem;}
    .tab-container.full.res-type > .tab-head > li > button.is-active .txt-grp .tit + ul{padding-right:15rem;}
    .tab-container.full.res-type > .tab-head > li > button.is-active::after{bottom:-5.5rem; border-top:2.8rem solid #0F2A43; border-right:1.4rem solid transparent; border-bottom:2.8rem solid transparent; border-left:1.4rem solid transparent; visibility:hidden;}
    
    .tab-container.res-type.sub > .tab-head > li button{padding:3rem 1rem 3rem 3rem; border-top:.1rem solid #62708A;}
    .tab-container.res-type.sub > .tab-head > li button.is-active{border:none;}
    .tab-container.res-type.sub > .tab-head > li button .course b{line-height:3rem;}
    .tab-container.res-type.sub > .tab-head > li button .tit-grp{margin-top:2rem;}
    .tab-container.res-type.sub > .tab-head > li button .tit-grp .img-timer{align-self:flex-end;}
    .tab-container.res-type.sub > .tab-head > li button .tit-grp .txt .zone-grp{font-weight:400;}

    .tab-container.res-type .tab-head > li + li button:not(.is-active)::before{display:none;}
    .tab-container.full.res-type > .tab-head > li:has(.sub.res-type > ul > li:first-child .tab-menu.is-active) > button.is-active::after{z-index:1; visibility:visible;}

    /* mo-drop */
    .mo-drop{overflow:hidden;}
    .mo-drop .mo-btn-dropdown{display:block; width:100%; height:6rem; padding:0 2rem; color:#fff; font-weight:700; font-size:var(--font-size-20); text-align:left; background:#8AC650 url(/images/mo/mo_icon_arrow_down.svg) right 1.5rem center / 2rem 1.2rem no-repeat; transition:all .3s; border-radius:1rem;}
    .mo-drop.is-open .mo-btn-dropdown{background-image:url(/images/mo/mo_icon_arrow_up.svg);}
    .mo-drop .mo-dropdown-list{max-height:0; transition:all .3s;}
    .mo-drop.is-open .mo-dropdown-list{overflow-y:auto; max-height:40rem; margin-top:1rem;}
    .tab-container.full.origin .mo-drop.tab .tab-head{flex-direction:column;}
    .tab-container.full.origin .mo-drop.tab .tab-head li:first-child button{border-radius:1rem 1rem 0 0;}
    .tab-container.full.origin .mo-drop.tab .tab-head li:last-child button{border-radius:0 0 1rem 1rem;}
    .tab-container.full.origin .mo-drop.tab .tab-head li button{padding:1.4rem 0; font-size:var(--font-size-20);}
    .tab-container.full.origin .tab-head li button{height:5.2rem;}

    .search-area{flex-wrap:wrap; margin-bottom:4rem;}
    .search-area > .ipt,
    .search-area .search-ipt,
    .search-area .btn{width:100%; height:6.2rem;}
    .search-area .btn{margin-top:1rem;}
    
    .bbs-list{border-top:.2rem solid #0F2A43;}
    .bbs-list .bbs-title{display:none;}
    .bbs-list .bbs-gen-list li > a{flex-wrap:wrap; row-gap:.5rem; height:auto; padding:2rem 0 2rem 1rem;}
    .bbs-list .bbs-gen-list li > a .list-num{display:none;}
    .bbs-list .bbs-gen-list li.noti > a .list-num{display:inline-flex; position:relative; top:-.1rem; width:auto; margin-right:1rem;}
    .bbs-list .bbs-gen-list li.noti > a .list-num .ico{width:1.9rem; height:1.6rem;}
    .bbs-list .bbs-gen-list li > a .list-division{order:-1;}
    .bbs-list .bbs-gen-list li > a .list-division,
    .bbs-list .bbs-gen-list li > a .list-date{width:100%; font-size:var(--font-size-16); text-align:left;}
    .bbs-list .bbs-gen-list li > a .list-txt{width:100%;}
    .bbs-list .bbs-gen-list li.noti > a .list-txt{width:calc(100% - 3rem);}
    .page-list .num-list.pc-only{display:none;}
    .page-list .count-grp.mo-only{display:flex; gap:.5rem; margin:0 3rem;}
    .page-list .count-grp{font-size:var(--font-size-20);}
    .page-list .count-grp span.current-count{color:var(--font-color-blue); font-weight:700;}
    .page-list .count-grp span.max-count{font-weight:400;}
    .page-list > .btn-paging{flex:0 0 auto;}
    .page-list > .btn-paging.pc-only{display:none;}
    .page-list > .btn-paging.mo-only{display:inline-flex;}
    .bbs-emtpy{min-height:30rem;}
    .bbs-emtpy p{display:block; width:100%; font-size:var(--font-size-18); text-align:center;}

    .bbs-view .tit-grp{padding:2rem 1rem;}
    .bbs-view .tit-grp .tit{justify-content:flex-start; font-size:var(--font-size-20);}
    .bbs-view .tit-grp .tit.noti::before{width:1.85rem; height:2.1rem; margin-top:.1rem;}
    .bbs-view .tit-grp .tit + .date-grp{margin-top:1rem;}
    .bbs-view .tit-grp .date-grp{flex-wrap:wrap; gap:.5rem 2rem; justify-content:flex-start;}
    .bbs-view .tit-grp .date-grp dl{font-size:var(--font-size-16);}
    .bbs-view .tit-grp .date-grp dl.owner{width:100%;}
    .bbs-view .tit-grp .date-grp dl.current::before{display:none;}
    .bbs-view .tit-grp .date-grp dl + dl::before{left:-1rem;}
    .bbs-view .attach-grp{padding:2rem 1rem;}
    .bbs-view .attach-grp dl{gap:1rem; flex-wrap:wrap;}
    .bbs-view .attach-grp dl dt{width:100%;}
    .bbs-view .attach-grp dl dt, .bbs-view .attach-grp .btn-attach{font-size:var(--font-size-16);}
    .bbs-view .attach-grp .btn-attach{align-items:flex-start; line-height:2.4rem;}
    .bbs-view .attach-grp .btn-attach + .btn-attach{margin-top:.5rem;}
    .bbs-view .attach-grp .btn-attach .ico{flex:0 0 auto; width:1.6rem; height:1.6rem; margin-top:.3rem;}
    .bbs-view .txt-grp{padding:2rem 1rem; font-size:var(--font-size-16); line-height:2.6rem;}
    .bbs-view .prev-next-grp li > a{gap:2rem; padding:1.8rem 2rem 1.8rem 1rem; font-size:var(--font-size-16);}
    .bbs-view .prev-next-grp li > a .txt{width:calc(100% - 5.7rem); font-size:var(--font-size-16);}
    .bbs-view .prev-next-grp li > a .txt .ico{margin-top:.1rem;}
    .bbs-view .prev-next-grp li span{min-width:4.2rem;}
    .bbs-view .prev-next-grp li span.date{display:none;}
    .bbs-view .prev-next-grp + .btn-area{margin-top:4rem;}
    .bbs-view .btn-area .btn{width:100%;}


    /* fullcalendar custom */
    .cal-wrap{margin-top:6rem;}
    .cal-wrap .calendar-header{top:4rem; right:unset;}
    .cal-wrap .full-calendar .vertical-month-header .vm-nav{display:flex; gap:1.5rem; justify-content:center; align-items:center;}
    .cal-wrap .full-calendar .vertical-month-header .vm-nav .vm-title{font-weight:700; font-size:2.4rem;}
    .cal-wrap .full-calendar .vertical-month-header .vm-nav button{display:inline-block; width:2.8rem; height:2.9rem; padding:1rem; text-indent:-9999px; background-position:center center; background-size:.8rem 1.2rem; background-repeat:no-repeat;}
    .cal-wrap .full-calendar .vertical-month-header .vm-nav button.vm-prev{background-image:url(../images/common/icon_fc_arrow_prev.svg);}
    .cal-wrap .full-calendar .vertical-month-header .vm-nav button.vm-next{background-image:url(../images/common/icon_fc_arrow_next.svg);}
    .cal-wrap .full-calendar .vertical-month .vm-day + .vm-day{margin-top:.2rem;}
    .cal-wrap .full-calendar .vertical-month-header + .vertical-month{margin-top:5.7rem;}
    .cal-wrap .full-calendar .vertical-month .vm-day{display:flex; gap:3rem; padding:1.4rem 4rem; background:#fff;}
    .cal-wrap .full-calendar .vertical-month .vm-day .vm-date{width:4.6rem;}
    .cal-wrap .full-calendar .vertical-month .vm-day .vm-date span{display:inline-block; width:100%; font-weight:700; font-size:1.4rem; text-align:center;}
    .cal-wrap .full-calendar .vertical-month .vm-day.sat .vm-date span{color:#0080C5;}
    .cal-wrap .full-calendar .vertical-month .vm-day.sun .vm-date span,
    .cal-wrap .full-calendar .vertical-month .vm-day.holiday .vm-date span{color:#f00;}
    .cal-wrap .full-calendar .vertical-month .vm-day .vm-events{flex-grow:1; display:block;}
    .cal-wrap .full-calendar .vertical-month .vm-day .vm-events .vm-event{padding:.3rem 0; color:#fff; font-weight:400; font-size:1.4rem; text-align:center; background:#8AC650; border-radius:1.8rem;}
    .cal-wrap .full-calendar .vertical-month .vm-day .vm-events .vm-event + .vm-event{margin-top:.2rem;}
    .cal-wrap .full-calendar .vertical-month .vm-day .vm-events .vm-empty{display:flex; justify-content:center; align-items:center; height:100%; font-weight:700; font-size:1.4rem; color:#f00;}
    .cal-wrap .full-calendar .vertical-month .vm-day .vm-events .vm-event.closed{background:#A6A8AB; pointer-events:none;}

    .num-gen-list > li{display:block;}
    .num-gen-list > li::before{top:2rem; left:2rem; transform:unset;}
    .num-gen-list > li .box-list{gap:1rem; padding:6rem 2rem 2rem;}
    .box-list .box{display:flex; gap:2rem; align-items:center; width:100%;}
    .num-gen-list > li .box-list .box > .tit + p{margin-top:0;}
    .num-gen-list > li .box-list .box > .tit{flex:0 0 auto; align-self:flex-start; min-width:5rem; line-height:2.4rem;}
    .num-gen-list > li .btn-grp{height:6rem;}
    .num-gen-list > li .btn-grp .area{width:100%;}
    .num-gen-list > li .btn-grp [class*='btn-']{flex-direction:row;}
    .num-gen-list > li .btn-grp [class*='btn-'] img{margin:0 .5rem 0 0;}
    .num-gen-list > li .btn-grp .btn-cancle img{width:1.4rem;}
    .num-gen-list > li .btn-grp .area .com .date{margin-top:0;}

    .page-list .num-list.pc-only{display:none;}
    .page-list .count-grp.mo-only{display:flex; gap:.5rem; margin:0 3rem;}
    .page-list .count-grp{font-size:var(--font-size-20);}
    .page-list .count-grp span.current-count{color:var(--font-color-blue); font-weight:700;}
    .page-list .count-grp span.max-count{font-weight:400;}
    .page-list > .btn-paging{flex:0 0 auto;}
    .page-list > .btn-paging.pc-only{display:none;}
    .page-list > .btn-paging.mo-only{display:inline-flex;}
    

}   




@media(max-width:768px){
    
}




@media(max-width:374px){
    
}