@charset "utf-8";

/* layout */
.inner-wrap{padding:0 1rem;}
.max-width{max-width:160rem; margin:0 auto;}
.inner + .inner{margin-top:8rem;}

/* main bn */
.content-wrap.main{overflow:hidden; padding-bottom:7rem;}
.inner-wrap.main-bn{display:flex; flex-direction:column; overflow:hidden; position:relative; height:84rem; padding:8rem 9.4rem 0; color:#fff; background:transparent;}

.inner-wrap.main-bn > *:not(.bg){position:relative; z-index:1;}
.inner-wrap.main-bn .bg{position:absolute; inset:0; background-size:cover; opacity:0; animation:fadeSlide 12s infinite linear; z-index:0;}
.inner-wrap.main-bn .bg.bg1{background-image:url(../images/common/img_main_bg.webp); animation-delay:0s;}
.inner-wrap.main-bn .bg.bg2{background-image:url(../images/common/img_main_bg02.webp); animation-delay:4s;}
.inner-wrap.main-bn .bg.bg3{background-image:url(../images/common/img_main_bg03.webp); animation-delay:8s;}

@keyframes fadeSlide{
    0% { opacity: 0; }
    10% { opacity: 1; }   /* 1.2초 동안 서서히 등장 */
    30% { opacity: 1; }   /* 2.4초 동안 유지 */
    40% { opacity: 0; }   /* 1.2초 동안 서서히 사라짐 */
    100% { opacity: 0; }
}


.inner-wrap.main-bn .img-boy{display:block; position:absolute; right:-5.5rem; bottom:-8rem; width:36.2rem; scale:.7; z-index:1; pointer-events:none;}

.inner-wrap.main-bn .h2-title{margin-left:auto; padding-top:5rem; line-height:130%; font-size:6rem; letter-spacing:-1rem; font-family:var(--ff-mono); background:url(../images/common/icon_recycle.svg) left 34rem top no-repeat;}
.inner-wrap.main-bn .h2-title .toggle-grp{display:flex; overflow:hidden; height:4rem; margin-top:2rem; font-size:2rem; font-family:var(--ff-noto); background:rgba(0, 0, 0, 0.8); border-radius:2rem; border:.1rem solid #009BB4;}
.inner-wrap.main-bn .h2-title .toggle-grp span{display:inline-block; width:100%; height:100%; color:#009BB4; font-weight:500; line-height:3.8rem; text-align:center; letter-spacing:0;}
.inner-wrap.main-bn .h2-title .toggle-grp span:first-child{max-width:30rem;}
.inner-wrap.main-bn .h2-title .toggle-grp span.on{color:#fff; font-weight:700; background:#009BB4;}

.slide-bn.swiper{width:144.5rem; margin-top:auto; margin-right:unset; padding-bottom:7rem;}
.slide-bn.swiper .swiper-slide{width:auto; flex:0 0 auto;}
.slide-bn.swiper .swiper-slide > a{display:inline-flex; gap:4rem; flex-wrap:wrap; justify-content:center; align-items:center; width:24rem; height:26.8rem; margin-top:4.2rem; padding:5rem 0; font-weight:700; font-size:2rem; background:url(../images/common/img_main_bn_bg.svg) center center / 100% no-repeat;}
.slide-bn.swiper .swiper-slide > a img{display:block; width:8rem;}
.slide-bn.swiper .swiper-slide > a > p{display:block; width:100%; text-align:center;}
.slide-bn.swiper .swiper-slide .top-msg{display:none; font-family:var(--ff-noto);}
.slide-bn.swiper .swiper-slide .top-msg .first{font-weight:300; font-size:1.3rem;}
.slide-bn.swiper .swiper-slide .top-msg .sec{font-weight:700; font-size:2.3rem;}
.slide-bn.swiper .swiper-slide .top-msg .third{font-weight:400; font-size: 2.3rem;}
.slide-bn.swiper .swiper-slide.swiper-slide-active > a{gap:3rem; background-image: url(../images/common/img_main_bn_bg_on.svg);}
.slide-bn.swiper .swiper-slide.swiper-slide-active > a > p{margin-top:3rem; font-size:3rem;}
.slide-bn.swiper .swiper-slide.swiper-slide-active > a img{width:10rem;}

.slide-bn.swiper .control01{display:flex; gap:1.6rem;}
.slide-bn.swiper .control01 .paging{font-weight:300; font-size:1.6rem;}
.slide-bn.swiper .control01 .paging .current{margin-right:.5rem; font-weight:500; font-size:2.4rem;}
.slide-bn.swiper .control01 .paging .max{margin-left:.5rem;}
.slide-bn.swiper .control01 .btn-auto-play{display:flex; gap:1rem; align-items:center;}
.slide-bn.swiper .control01 .btn-auto-play button{height:1.8rem; text-indent:-9999px; background-position:center center; background-size:100%; background-repeat:no-repeat;}
.slide-bn.swiper .control01 .btn-auto-play button.btn-play{width:1.8rem; background-image:url(../images/common/icon_main_bn_play.svg);}
.slide-bn.swiper .control01 .btn-auto-play button.btn-pause{width:1rem; background-image:url(../images/common/icon_main_bn_pause.svg);}
.slide-bn.swiper .slidebar{display:flex; top:2.2rem; left:13.6rem; width:calc(100% - 13.6rem); height:.1rem; background:#fff;}
.slide-bn.swiper .slidebar .swiper-pagination-bullet{flex:1; position:relative; top:-.5rem; height:1rem; margin:0; background:#fff; transition:all .3s; border-radius:0; opacity:0;}
.slide-bn.swiper .slidebar .swiper-pagination-bullet.swiper-pagination-bullet-active{opacity:1;}
.slide-bn.swiper .control02{position:absolute; bottom:1.5rem; width:100%; height:4.5rem;}
.slide-bn.swiper .control02 .btn-grp{display:flex; gap:1.6rem; width:10.6rem;}
.slide-bn.swiper .control02 .btn-grp button{display:inline-block; width:4.5rem; height:4.5rem; text-indent:-9999px; background-position:center center; background-size:100%; background-repeat:no-repeat;}
.slide-bn.swiper .control02 .btn-grp button.btn-prev{background-image:url(../images/common/btn_bn_prev.svg);}
.slide-bn.swiper .control02 .btn-grp button.btn-next{background-image:url(../images/common/btn_bn_next.svg);}
.slide-bn.swiper .swiper-slide.swiper-slide-active .top-msg{display:block; position:absolute; top:.5rem; left:0; width:16rem; text-align:center;}
.slide-bn.swiper .control01{position:absolute; top:0; right:0; z-index:1;}

/* main contents */
.inner-wrap.contents{max-width:174rem; margin:9rem auto 0;}
.inner-wrap.contents .tit .h3-title{font-weight:700; line-height:130%; font-size:4rem; text-align:center; letter-spacing:-1rem; font-family:var(--ff-mono);}
.inner-wrap.contents .tit .h3-title + .sub-disc{position:relative; padding-top:3rem; font-weight:400; line-height:130%; font-size:2rem; text-align:center;}
.inner-wrap.contents .tit .h3-title + .sub-disc::before{content:''; display:inline-block; position:absolute; top:1.5rem; left:50%; width:4rem; height:.2rem; background:#62C0B4; transform:translateX(-50%);}
.inner-wrap.contents .tit + .box-list{margin-top:4rem;}

.box-list{display:flex; gap:2.4rem;}
.box-list li{width:100%;}
.box-list li > a{display:flex; flex-direction:column; width:100%; height:100%; padding-top:4rem; background:#fff; border-radius:2rem; transition:all .3s;}
.box-list li:hover > a{color:#fff; background:#009BB4;}
.box-list li p{font-weight:700; font-size:2rem; text-align:center;}
.box-list li p + .lesson{margin-top:1rem;}
.box-list li .lesson{display:flex; justify-content:center; align-items:center; font-weight:400; font-size:1.6rem;}
.box-list li .profile{position:relative; margin-top:auto;}
.box-list li .profile img{display:block; margin:0 auto;}
.box-list li .profile .badge{display:inline-flex; position:absolute; left:50%; bottom:2rem; min-width:12rem; padding:.55rem 2.35rem; color:#fff; font-weight:700; font-size:1.6rem; background:#009BB4; transform:translateX(-50%); border-radius:1.5rem;}

.inner-wrap.contents + .inner-wrap.notice{margin-top:10rem;}
.inner-wrap.notice{display:flex; gap:5.7rem; max-width:172rem; margin:0 auto;}

.inner-wrap.notice .data .tit{position:relative;}
.inner-wrap.notice .data .tit h3{font-weight:700; font-size:3.6rem; line-height:130%; letter-spacing:-.7rem; font-family:var(--ff-mono);}
.inner-wrap.notice .btn-more{display:inline-flex; gap:1rem; align-items:center; position:absolute; top:1rem; right:0; font-weight:500; font-size:1.6rem;}
.inner-wrap.notice .btn-more .ico{width:3.5rem; height:3.5rem; background:url(../images/common/icon_btn_plus01.svg) center center / 100% no-repeat;}

.inner-wrap.notice .data .cont{display:flex; gap:2.5rem; margin-top:1.5rem;}
.inner-wrap.notice .data .cont li{width:40rem;}
.inner-wrap.notice .data .cont li img{display:block; width:40rem;}
.inner-wrap.notice .data .cont li .cont-tit{margin-top:1.5rem; font-weight:700; line-height:3rem; font-size:2.2rem;}
.inner-wrap.notice .data .cont li .txt{display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; color:#6E6E6E; font-weight:400; line-height:2.4rem; font-size:1.6rem; white-space:normal; text-overflow:ellipsis; -webkit-line-clamp:3;}
.inner-wrap.notice .data .cont li .cont-tit + .txt{margin-top:1rem;}
.inner-wrap.notice .data .cont li .txt + .date{margin-top:3.5rem;}
.inner-wrap.notice .data .cont li .date{display:inline-block; color:#6E6E6E; font-weight:400; line-height:2.4rem; font-size:1.6rem;}

.inner-wrap.notice .noti-list{flex-grow:1; position:relative; padding:4.1rem 0 4.7rem 4.7rem; background:#003B90; border-radius:5rem 0 0 5rem;}
.inner-wrap.notice .noti-list::before{content:''; display:block; position:absolute; top:0; left:0; width:100vw; height:100%; background:#003B90; border-radius:5rem 0 0 5rem; z-index:0;}
.inner-wrap.notice .noti-list > *{position:relative; z-index:1;}
.inner-wrap.notice .noti-list .tit{position:relative; padding-bottom:2rem; color:#fff; border-bottom:.2rem solid #fff;}
.inner-wrap.notice .noti-list .tit h3{font-weight:700; font-size:3.6rem; line-height:130%; letter-spacing:-.7rem; font-family:var(--ff-mono);}
.inner-wrap.notice .btn-more .ico.icon-more2{background-image:url(../images/common/icon_btn_plus02.svg);}

.inner-wrap.notice .cont ul li > a{display:flex; justify-content:space-between; align-items:center; padding:1.5rem 0; color:#fff; font-weight:500; line-height:3rem; font-size:2rem;}
.inner-wrap.notice .cont ul li > a .date{flex:0 0 auto; font-weight:400; line-height:2.4rem; font-size:1.6rem;}

.inner-wrap.notice .cont ul li + li > a{border-top:.1rem solid #fff;}
.inner-wrap.notice .cont ul li > a > p{display:inline-block; overflow:hidden; width:calc(100% - 10rem); text-overflow:ellipsis; white-space:nowrap;}
.inner-wrap.notice .cont ul + .btn-noti-bn{margin-top:4rem;}
.btn-noti-bn{display:flex; flex-wrap:wrap; width:100%; height:18rem; padding:4.7rem 4.9rem; color:#fff; font-weight:700; line-height:130%; font-size:3.2rem; letter-spacing: -.7rem; font-family:var(--ff-mono); background:url(../images/common/img_noti_bn_bg.webp) center center / 100% 100% no-repeat; border-radius:1rem;}
.btn-noti-bn .txt{width:100%;}
.btn-noti-bn .badge{display:inline-flex; align-items:center; font-weight:400; margin-top:1.4rem; padding:.3rem 2.5rem; font-size:1.4rem; line-height:2.4rem; font-family:var(--ff-default); letter-spacing:0; border:.1rem solid #fff; border-radius:1.5rem;}




.footer-banner-slider, .footer-cont{padding-left:2rem; padding-right:2rem;}





@media(max-width:1400px){

}

@media(max-width:1240px){

}



@media(max-width:1024px){

}   

@media(max-width:768px){
    
}




@media(max-width:374px){
    
}